{% set hero = hero %} {% set programsHero = hero.programs %}
<section class="hero">
  <picture class="hero__image-wrapper">
    <source
    srcset="
    ./assets/images/programs/hero/children_lg.webp    1x,
    ./assets/images/programs/hero/children_lg@2x.webp 2x
    "
    media="(min-width: 1280px)"
    type="image/webp"
  />
    <source
    srcset="./assets/images/programs/hero/children_lg.png 1x, 
    ./assets/images/programs/hero/children_lg@2x.png 2x"
    media="(min-width: 1280px)"
    type="image/png"
  />

  <source
  srcset="
  ./assets/images/programs/hero/children_md.webp    1x,
  ./assets/images/programs/hero/children_md@2x.webp 2x
  "
  media="(max-width: 1279px)"
  type="image/webp"
/>
  <source
  srcset="./assets/images/programs/hero/children_md@2x.png 2x"
  media="(max-width: 1279px)"
  type="image/png"
/>
    <img class="hero__image" src="./assets/images/programs/hero/children_md.png" alt="Фото дітей за навчанням"
    width="609" height="558">
</picture>
    <div class="container hero__title-wrapper">
        <h1 class="hero__title">
       {{ programsHero.title }}
       <span class="hero__title-pseudo">{{programsHero.title_element}}</span>
        </h1>

        <button type="button" class="main-btn" data-modal-open>Підібрати план навчання</button>
  </div>
</section>
