<section class="hero-footer">
    <div class="container">
        <h2 class="hero-footer__title">
            <span class="hero-footer__accent-text">Складно обрати?</span> <br> Дитина не знає, що хоче? <br> Ви не
            впевнені, що онлайн IT-курси необхідні вашій дитині?
        </h2>
        <p class="hero-footer__description">Запишіться на безкоштовну консультацію, і наш менеджер розповість більше про
            навчальну програму та надасть інформацію щодо пробних занять</p>
        <button type="button" class="modal-btn" data-modal-open>Записатися на безкоштовну консультацію</button>
    </div>
</section>