<section class=" section branches">
    <div class="container">
        <ul class="branches__list list grid">
            <li class="branches__item online grid__item">
                Online
            </li>
            <li class="branches__item ukraine grid__item">
                Україна
            </li>
            <li class="branches__item poland grid__item">
                Польща
            </li>
            <li class="branches__item turkey grid__item">
                Турція
            </li>

        </ul>
    </div>
</section>