.container {
  padding: 0 26px;

  .header & {
    display: flex;
    align-items: center;
  }

  .achievments > & {
    padding-left: 10px;
    padding-right: 10px;
  }

  .format & {
    position: relative;
  }

  @include mq('phone') {
    max-width: 480px;
    margin: 0 auto;
  }

  @include mq('tablet') {
    max-width: 768px;
    padding: 0 15px;
  }

  @include mq('desktop') {
    max-width: 1196px;
  }
}
