{% set hero = hero %} {% set contactsHero = hero.contacts %}

<section class="hero">
    <div class="hero__wrapper">
    <div class="container">
        <div class="hero__text-wrapper">
     
            <p class="text-label hero__label">{{contactsHero.text_label}}</p>
            <h1 class="hero__title">{{contactsHero.title}}
                <span class='text-bold'>{{contactsHero.title_span}}</span>
            </h1>
            <p class="hero__text ">{{contactsHero.description}}</p>
        </div>
        <button type="button" class="main-btn" data-modal-open>Підібрати план навчання</button>
    </div>
    </div>
    {% include 'components/branches.html' %}
</section>
