<section class="hero">
    <div class="container">
        <p class="hero__top-text">Мережа ІТ-академій для дітей 8-15 років</p>
        <h1 class="hero__title">Ми проводимо IT-курси для дітей <span class="hero__title-accent">онлайн</span></h1>
        <p class="hero__undertitle">Тому діти можуть навчатися з будь-якої точки світу</p>
        <button class="modal-btn" data-modal-open>Записатись на безкоштовне пробне заняття</button>
        <ul class="location-list list">
            <li class="location-list__item">
                <svg class="location-list__icon">
                    <use href="./images/sprite.svg#location-pin"></use>
                </svg>
                Київ
            </li>
            <li class="location-list__item">
                <svg class="location-list__icon">
                    <use href="./images/sprite.svg#location-pin"></use>
                </svg>
                Львів
            </li>
            <li class="location-list__item">
                <svg class="location-list__icon">
                    <use href="./images/sprite.svg#location-pin"></use>
                </svg>
                Дніпро
            </li>
            <li class="location-list__item">
                <svg class="location-list__icon">
                    <use href="./images/sprite.svg#location-pin"></use>
                </svg>
                Харків
            </li>
            <li class="location-list__item">
                <svg class="location-list__icon">
                    <use href="./images/sprite.svg#location-pin"></use>
                </svg>
                Вінниця
            </li>
            <li class="location-list__item">
                <svg class="location-list__icon">
                    <use href="./images/sprite.svg#location-pin"></use>
                </svg>
                Online
            </li>
        </ul>
    </div>
</section>