$accent-color: #aa43a2;
$yellow-color: #fec830;

$white-text: #ffffff;
$white-bg: #ffffff;

$title-fs-desktop: 48px;
$title-fs-mob: 36px;

:root {
  //   --dots-color: $accent-color;
  --accent-color: #aa43a2;
  --yellow-color: #fec830;
}
