$accent-color: #aa43a2;
$yellow-color: #fec830;

$white-text: #ffffff;
$white-bg: #ffffff;

$title-fs-desktop: 48px;
$title-fs-mob: 36px;

:root {
  //   --dots-color: $accent-color;
  --accent-color: #aa43a2;
  --yellow-color: #fec830;

  --white-text-cl: #ffffff;

  --white-bg: #ffffff;
  --yellow-bg: #fec830;
  --dark-bg: #04102f;
  --grey-bg: #504c5c;

  --small-btn-bg: #8d3987;
}
