<section class="courses section">
  <div class="container">
    <h2 class="courses__title title">
      Формуємо <span class="text-accent">інноваційне мислення</span> та допомагаємо опанувати
      техногії&lowbar;
    </h2>
    <p class="courses__description">
      Відповідно до віку учнів ми пропонуємо програми різної складності та занурення у технології.
      Усе реалізовується на конкретних навчальних проєктах, що дозволяє найкраще реалізувати
      вроджені таланти та потенціал
    </p>
    <section class="courses-list">
      <div class="grid-item courses-list__age"><span>7-8</span>років</div>
      <div class="grid-item courses-list__wrapper callout">
        <h3 class="courses-list__title">Програмування для дітей</h3>
        <p class="courses-list__description">
          Створення яскравих анімацій та простих ігор. Цікава математика зі Scratch
        </p>
        <a
          class="more-link"
          href="https://course.goiteens.ua/scratch"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >Дізнатися більше</a
        >
        <ul class="courses-mark">
          <li class="courses-mark__about">Основні курси</li>
        </ul>
      </div>
      <div class="grid-item courses-list__age"><span>9-11</span>років</div>
      <div class="grid-item courses-list__wrapper">
        <h3 class="courses-list__title">Програмування для дітей в Minecraft Education</h3>
        <p class="courses-list__description">
          Введення в 3D-моделювання, вивчення фізики, математики та інших навчальних предметів в
          ігровій формі
        </p>
        <a
          class="more-link"
          href="https://course.goiteens.ua/minecraft"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >Дізнатися більше</a
        >
        <ul class="courses-mark">
          <li class="courses-mark__about">Основні курси</li>
          <li class="courses-mark__about">FullStack</li>
        </ul>
      </div>
      <div class="grid-item courses-list__wrapper callout down-large">
        <h3 class="courses-list__title">Старт в IT — формування універсальних навичок</h3>
        <p class="courses-list__description">
          Це те, чому в школі не привертають багато уваги — командна робота, навички публічного
          виступу та нестандартного розв’язування задач
        </p>
        <a
          class="more-link"
          href="https://course.goiteens.ua/it-start"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >Дізнатися більше</a
        >
        <ul class="courses-mark">
          <li class="courses-mark__about">Додаткові курси</li>
        </ul>
      </div>
      <div class="grid-item courses-list__age"><span>12-13</span>років</div>
      <div class="grid-item courses-list__wrapper">
        <h3 class="courses-list__title">Створення інтернет-сайтів та Веб-додатків</h3>
        <p class="courses-list__description">
          Набуття навичок програмування найактуальнішою мовою програмування JavaScript. Створення
          комерційних сайтів і додатків
        </p>
        <a
          class="more-link"
          href="https://course.goiteens.ua/frontend"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >Дізнатися більше</a
        >
        <ul class="courses-mark">
          <li class="courses-mark__about">Основні курси</li>
          <li class="courses-mark__about">FullStack</li>
        </ul>
      </div>
      <div class="grid-item courses-list__wrapper">
        <h3 class="courses-list__title">IT-дизайн</h3>
        <p class="courses-list__description">
          Вивчення основ дизайну та інструментів, за допомогою яких створюються сайти, ігри та
          додатки
        </p>
        <a
          class="more-link"
          href="https://course.goiteens.ua/design"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >Дізнатися більше</a
        >
        <ul class="courses-mark">
          <li class="courses-mark__about">Додаткові курси</li>
          <li class="courses-mark__about">IT Designer</li>
        </ul>
      </div>
      <div class="grid-item courses-list__wrapper">
        <h3 class="courses-list__title">Розробка ігор та Game Development</h3>
        <p class="courses-list__description">
          Створення повноцінних комп'ютерних ігор на Unity, а також основи 3D-моделювання та
          ігрового дизайну
        </p>
        <a
          class="more-link"
          href=" https://course.goiteens.ua/gamedev"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >Дізнатися більше</a
        >
        <ul class="courses-mark">
          <li class="courses-mark__about">Додаткові курси</li>
          <li class="courses-mark__about">Game Developer</li>
        </ul>
      </div>
      <div class="grid-item courses-list__age"><span>14-15</span>років</div>
      <div class="grid-item courses-list__wrapper">
        <h3 class="courses-list__title">Програмування Python: BackEnd та DataScience</h3>
        <p class="courses-list__description">
          Підлітки ознайомляться зі створенням систем штучного інтелекту та баз даних
        </p>
        <a
          class="more-link"
          href="https://course.goiteens.ua/python"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >Дізнатися більше</a
        >
        <ul class="courses-mark">
          <li class="courses-mark__about">Основні курси</li>
          <li class="courses-mark__about">FullStack</li>
        </ul>
      </div>
      <div class="grid-item courses-list__wrapper">
        <h3 class="courses-list__title">3D-дизайн</h3>
        <p class="courses-list__description">
          Створення 3D моделей, персонажів ігор за допомогою сучасних програм та технологій
        </p>
        <a
          class="more-link"
          href="https://course.goiteens.ua/3ddesign"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >Дізнатися більше</a
        >
        <ul class="courses-mark">
          <li class="courses-mark__about">Додаткові курси</li>
          <li class="courses-mark__about">IT Designer</li>
        </ul>
      </div>
      <div class="grid-item courses-list__wrapper desktop-hidden">
        <h3 class="courses-list__title">Розробка ігор та Game Development</h3>
        <p class="courses-list__description">
          Створення повноцінних комп'ютерних ігор на Unity, а також основи 3D-моделювання та
          ігрового дизайну
        </p>
        <a
          class="more-link"
          href=" https://course.goiteens.ua/gamedev"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >Дізнатися більше</a
        >
        <ul class="courses-mark">
          <li class="courses-mark__about">Додаткові курси</li>
          <li class="courses-mark__about">Game Developer</li>
        </ul>
      </div>
      <ul class="grid-item courses-name__list">
        <li class="courses-name__item large">Full Stack</li>
        <li class="courses-name__item">IT Designer</li>
        <li class="courses-name__item">Game Developer</li>
      </ul>
      <div class="grid-item courses-list__age"><span>16-18</span>років</div>
      <div class="grid-item courses-list__wrapper">
        <h3 class="courses-list__title">IT-менеджмент та IT підприємництво</h3>
        <p class="courses-list__description">
          Ваша дитина вчиться керувати розробкою проєктів, розподілом обов’язків всередині команди
        </p>
        <ul class="courses-mark">
          <li class="courses-mark__about">Основні курси</li>
        </ul>
      </div>
    </section>
    <button class="main-btn courses__btn" data-modal-open>Підібрати план навчання</button>
  </div>
</section>
