<section class="courses">
    <div class="container">
        <h2 class="title">Формуємо <span class="accent-text">інноваційне мислення</span> та допомагаємо опанувати
            техногії</h2>
        <p class="courses__description">Відповідно до віку учнів ми пропонуємо програми різної складності та занурення у
            технології. Усе реалізовується на конкретних навчальних проєктах, що дозволяє найкраще реалізувати вроджені
            таланти та потенціал</p>
        <div class="courses__zoom-card">
            <a class="courses__img-link" href="./images/courses/courses.jpg">
                <img src="./images/courses/courses.jpg" alt="описание курсов" class="courses__img">
                <div class="courses__overlay">
                    <svg class="courses__overlay-icon-zoom">
                        <use href="./images/sprite.svg#zoom"></use>
                    </svg>
                </div>
            </a>
        </div>
        <button class="modal-btn" data-modal-open>Підібрати план навчання</button>
    </div>
</section>