{% set hero = hero %} {% set aboutHero = hero.about %}
<section class="hero">

  <picture class="hero__image-wrapper">
    <source
    srcset="
    ./assets/images/about/hero/boy_lg.webp    1x,
    ./assets/images/about/hero/boy_lg@2x.webp 2x
    "
    media="(min-width: 1280px)"
    type="image/webp"
  />
    <source
    srcset="./assets/images/about/hero/boy_lg.png 1x, 
    ./assets/images/about/hero/boy_lg@2x.png 2x"
    media="(min-width: 1280px)"
    type="image/png"
  />
  

  <source
  srcset="
  ./assets/images/about/hero/boy_md.webp "
  media="(max-width: 1279px)"
  type="image/webp"
/>


    <img class="hero__image" src="./assets/images/about/hero/boy_md.png" alt="Фото хлопчика за навчанням"
    width="515" height="587" loading="lazy">
</picture>
  <div class="container hero__title-wrapper ">
    <h1 class="hero__title">{{aboutHero.title}}</h1>

    {% for item in aboutHero.description %}
    <p class="hero__description">{{item.text}}</p>
    {% endfor %}
  </div>
</section>
