<section class="proff-skills">
    <div class="container">
        <h2 class="title proff-skills__title">Комплексний <span class="accent-text">підхід</span> до розвитку
            дитини</h2>
        <p class="proff-skills__description">те що допомагає нам випускати учнів, що можуть працювати на фрілансі чи
            створювати свої технологічні стартапи ще до вступу в університет</p>
        <ul class="proff-skills__list list">
            <li class="proff-skills__list-item">
                <div class="proff-skills__list-img-wrapper proff-skills__list-img-wrapper_border-theme-1">
                    <picture class="proff-skills__list-picture">
                        <source srcset="./images/projects/project-01-desktop.png" media="(min-width: 1200px)">
                        <source srcset="./images/projects/project-01.png" media="(min-width: 320px)">
                        <img src="./images/projects/project-01.png" alt="" class="proff-skills__list-img">
                    </picture>
                </div>
                <h3 class="proff-skills__list-title">Технічні навички (hardskills)</h3>
                <p class="proff-skills__list-description">Ваша дитина опанує технічні навички, що потрібні досвідченому
                    IT-фахівцю й впевненому користувачу ПК</p>
            </li>
            <li class="proff-skills__list-item">
                <div class="proff-skills__list-img-wrapper proff-skills__list-img-wrapper_border-theme-2">
                    <picture class="proff-skills__list-picture">
                        <source srcset="./images/projects/project-02-desktop.png" media="(min-width: 1200px)">
                        <source srcset="./images/projects/project-02.png" media="(min-width: 320px)">
                        <img src="./images/projects/project-02.png" alt="" class="proff-skills__list-img">
                    </picture>
                </div>
                <h3 class="proff-skills__list-title">Гнучки навички (softskills)</h3>
                <p class="proff-skills__list-description">Це навички, що необхідні й в навчанні й на роботі кожній
                    людині. Завдяки їм дитина зможе бути справжнім лідером вже зараз, поки інші тільки навчаються</p>
            </li>
            <li class="proff-skills__list-item">
                <div class="proff-skills__list-img-wrapper proff-skills__list-img-wrapper_border-theme-1">
                    <picture class="proff-skills__list-picture">
                        <source srcset="./images/projects/project-03-desktop.png" media="(min-width: 1200px)">
                        <source srcset="./images/projects/project-03.png" media="(min-width: 320px)">
                        <img src="./images/projects/project-03.png" alt="" class="proff-skills__list-img">
                    </picture>
                </div>
                <h3 class="proff-skills__list-title">Розмовна англійська мова</h3>
                <p class="proff-skills__list-description">IT-ринок в першу чергу англомовний. Тому ми окремо приділяємо
                    увагу регулярній практиці розмовної англійської, щоб стерти мовний бар'єр в свідомості учнів.</p>
            </li>
        </ul>
        <ul class="proff-skills__bottom-list list">
            <li class="proff-skills__bottom-list-item">
                <picture class="proff-skills__bottom-list-picture">
                    <source srcset="./images/about/proff-skills/list-img-1-desktop.png" media="(min-width: 1200px)">
                    <img src="./images/about/proff-skills/list-img-1.png" alt="" class="proff-skills__bottom-list-img">
                </picture>
                <div class="proff-skills__bottom-list-content-wrapper">
                    <h3 class="proff-skills__bottom-list-content-title">В основі навчання - створення реальних проєктів
                    </h3>
                    <p class="proff-skills__bottom-list-content-text">Дитина набуває IT-навички на курсах GoITeens
                        тільки через створення реальних проєктів. Це і</p>
                    <ul>
                        <li>програмування роботів;</li>
                        <li>створення інфраструктури для розумного будинку;</li>
                        <li>розробка сайтів для реальних компаній;</li>
                        <li>комп'ютерних ігор;</li>
                        <li>запуск стартапів з отриманням перших інвестицій на розвиток.</li>
                    </ul>
                    <p class="proff-skills__bottom-list-content-text">Саме такий практичний підхід дозволяє надати
                        навчанню конкретного змісту та перетворити
                        опанування професії на захопливу пригоду з реальними викликами, перепонами та задачами, які
                        потребують креативного підходу.</p>
                </div>
            </li>
            <li class="proff-skills__bottom-list-item">
                <picture class="proff-skills__bottom-list-picture">
                    <source srcset="./images/about/proff-skills/list-img-2-desktop.png" media="(min-width: 1200px)">
                    <img src="./images/about/proff-skills/list-img-2.png" alt="" class="proff-skills__bottom-list-img">
                </picture>
                <div class="proff-skills__bottom-list-content-wrapper">
                    <h3 class="proff-skills__bottom-list-content-title">Робота в командах</h3>
                    <p class="proff-skills__bottom-list-content-text">Наші учні постійно комунікують між собою заради
                        вирішення практичних завдань. Вони вчаться швидко та легко знаходити спільну мову, ефективно
                        обмінюватись думками заради спільного результату.</p>
                    <p class="proff-skills__bottom-list-content-text">Розвиток соціальних навичок — один з важливих
                        акцентів процесу навчання в GoITeens.</p>
                </div>
            </li>
            <li class="proff-skills__bottom-list-item">
                <picture class="proff-skills__bottom-list-picture">
                    <source srcset="./images/about/proff-skills/list-img-3-desktop.png" media="(min-width: 1200px)">
                    <img src="./images/about/proff-skills/list-img-3.png" alt="" class="proff-skills__bottom-list-img">
                </picture>
                <div class="proff-skills__bottom-list-content-wrapper">
                    <h3 class="proff-skills__bottom-list-content-title">Менторство та індивідуальний підхід</h3>
                    <p class="proff-skills__bottom-list-content-text">Кожен учень постійно отримує зворотний зв'язок від
                        викладачів та інших учнів. Завдяки цьому діти постійно вдосконалюють не тільки професійні, але й
                        соціальні навички.</p>
                </div>
            </li>
        </ul>
    </div>
</section>