{% set skills = skills %} {% set partnersLists = skills.lists %}

<section class="skills section">
    <div class="container">
        <h2 class="section__title skills__title"><span class="skills__title-span text-accent">{{skills.span}}</span>
            {{skills.title}}</h2>

        <div class="skills__list">
            <p class="skills__item-grid skills__description text-accent ">{{skills.description}}</p>
            {% for name, lists in partnersLists %}
            <div class="skills__item-grid text-label skills__label ">
                {{lists.title}}
            </div>
            {% for item in lists.items %}
            <div class="skills__item-grid skills__item skills-{{item.id}}">
                <p class="skills__item-title ">{{item.title}}</p>
                <p >
                    {{item.description}}
                </p>
 
            </div>



            {% endfor %}
            {% endfor %}
        </div>

    </div>
</section>