<section class="skills">
    <div class="container">
        <h2 class="title skills__title"><span class="skills__title-span accent-text">8</span> соціальних навичок, які
            засвоюють усі
            наші учні</h2>
        <p class="skills__description">Кожен учень з часом знаходить свій хист в певних навичках і таким чином
            віднаходить свою ідеальну роль в команді.</p>
        <ul class="skills__list list">
            <li class="skills__list-item">
                <div class="skills__icon-wrapper">
                    <svg class="skills__list-icon" width="40" height="40">
                        <use href="./assets/images/sprite.svg#brain"></use>
                    </svg>
                </div>
                <h3 class="skills__list-title">Емоційний інтелект</h3>
                <p class="skills__list-text">Вміння розуміти власні емоції, контролювати свій емоційний стан та легко
                    розуміти, що відчувають інші.</p>
            </li>
            <li class="skills__list-item">
                <div class="skills__icon-wrapper">
                    <svg class="skills__list-icon" width="40" height="40">
                        <use href="./assets/images/sprite.svg#protest"></use>
                    </svg>
                </div>
                <h3 class="skills__list-title">Самостійність</h3>
                <p class="skills__list-text">Вміння брати на себе відповідальність, проявляти ініціативу та втілювати в
                    життя власне бачення, без зовнішніх вказівок.</p>
            </li>
            <li class="skills__list-item">
                <div class="skills__icon-wrapper">
                    <svg class="skills__list-icon" width="40" height="40">
                        <use href="./assets/images/sprite.svg#color-palette"></use>
                    </svg>
                </div>
                <h3 class="skills__list-title">Креативність</h3>
                <p class="skills__list-text">Вміння знаходити нестандартні рішення задач, виходити за рамки відомих
                    алгоритмів та правил, створювати нові концепти.</p>
            </li>
            <li class="skills__list-item">
                <div class="skills__icon-wrapper">
                    <svg class="skills__list-icon" width="40" height="40">
                        <use href="./assets/images/sprite.svg#profile"></use>
                    </svg>
                </div>
                <h3 class="skills__list-title">Гнучкість та управління проєктами</h3>
                <p class="skills__list-text">Вміння фокусуватися на результаті та швидко знаходити варіанти рішень, які
                    влаштовують усі сторони процесу та ведуть до спільної мети.</p>
            </li>
            <li class="skills__list-item">
                <div class="skills__icon-wrapper">
                    <svg class="skills__list-icon" width="40" height="40">
                        <use href="./assets/images/sprite.svg#leader-1"></use>
                    </svg>
                </div>
                <h3 class="skills__list-title">Лідерство</h3>
                <p class="skills__list-text">Вміння вести за собою команду, надихати своїми ідеями та об'єднувати людей
                    навколо свої цілей та переконань.</p>
            </li>
            <li class="skills__list-item">
                <div class="skills__icon-wrapper">
                    <svg class="skills__list-icon" width="40" height="40">
                        <use href="./assets/images/sprite.svg#leader"></use>
                    </svg>
                </div>
                <h3 class="skills__list-title">Нетворкінг та особистий бренд</h3>
                <p class="skills__list-text">Уважно ставимося до безпеки, контролюємо присутність та тримаємо зв'язок з
                    батьками.</p>
            </li>
            <li class="skills__list-item">
                <div class="skills__icon-wrapper">
                    <svg class="skills__list-icon" width="40" height="40">
                        <use href="./assets/images/sprite.svg#calculator"></use>
                    </svg>
                </div>
                <h3 class="skills__list-title">Управління фінансами</h3>
                <p class="skills__list-text">Розуміння суті фінансових потоків в проєктах та підприємствах. Вміння
                    ефективно управляти та балансувати їх.</p>
            </li>
            <li class="skills__list-item">
                <div class="skills__icon-wrapper">
                    <svg class="skills__list-icon" width="40" height="40">
                        <use href="./assets/images/sprite.svg#microphone"></use>
                    </svg>
                </div>
                <h3 class="skills__list-title">Публічні виступи та комунікації</h3>
                <p class="skills__list-text">Вміння доносити свої ідеї та захоплювати увагу великої аудиторії своїми
                    промовами та презентаціями.</p>
            </li>
        </ul>
    </div>
</section>
