<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="wrapper__top">
        <div class="wrapper__logo">
          <img src="./assets/images/footer/logo.svg" class="footer__logo" width="143" height="37" alt="лого компанії GoITeens" />
        </div>
        <nav class="footer__nav">
          <ul class="list nav__list">
            <li class="item">
              <a class="link footer__link" href="./programs.html" aria-label="goiteens programs"
                target="_blank" rel="noopener noreferrer nofollow">Каталог курсів</a>
            </li>
            <li class="item">
              <a class="link footer__link" href="tel:+380933432127">+38 093 343 21 27</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="wrapper__bottom">
        <ul class="list social__list">
          <li class="social__item">
            <a class="social__link" href="https://t.me/devofteens" aria-label="telegram" target="_blank"
              rel="noopener noreferrer nofollow">
              <svg class="social__svg" width="32" height="32">
                <use href="./assets/images/footer/socials.svg#tg"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.instagram.com/go_iteens" aria-label="instagram" target="_blank"
              rel="noopener noreferrer nofollow">
              <svg class="social__svg" width="32" height="32">
                <use href="./assets/images/footer/socials.svg#insta"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.facebook.com/GoITeens/?ref=page_internal%E2%80%8B"
              aria-label="facebook" target="_blank" rel="noopener noreferrer nofollow">
              <svg class="social__svg" width="32" height="32">
                <use href="./assets/images/footer/socials.svg#fb"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.youtube.com/channel/UCePQwxtFDx2ypM-oTh7gqMQ" aria-label="youtube"
              target="_blank" rel="noopener noreferrer nofollow">
              <svg class="social__svg" width="32" height="32">
                <use href="./assets/images/footer/socials.svg#ytube"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="payment">
          <div class="payment__cards">
            <svg class="payment__svg" width="34" height="34">
              <use href="./assets/images/footer/socials.svg#visa"></use>
            </svg>
            <svg class="payment__svg" width="34" height="34">
              <use
                href="./assets/images/footer/socials.svg#mastercard"
              ></use>
            </svg>
          </div>
          <a class="link payment__contract" href="javascript:;" data-fancybox data-src="#contract">Публічний
            договір</a>
        </div>
      </div>
    </div>
  </div>
</footer>
