{% set navigationList = navigation %}
<header class="header">
  <div class="container">
    <a href="/" class="header__logo link" aria-label="логотип">
      <img
        class="header__img"
        src="./assets/images/header/logo.svg"
        alt="логотип"
        width="80"
        height="20"
      />
      <span class="header__logo-text">
        мережа ІТ-академій <br />
        для дітей 8-15 років</span
      >
    </a>
    <div class="header__wrapper">
      <button
        class="header__button menu-btn"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="кнопка меню"
        data-menu-button
      >
        <svg width="45" height="45" class="menu-btn__icons">
          <use href="./assets/images/sprite.svg#burger" class="menu-btn__icon_burger"></use>
          <use href="./assets/images/sprite.svg#close" class="menu-btn__icon_close"></use>
        </svg>
      </button>
      <div class="language-select language-select--mobile">
        <select>
          <option value="0">Ukr</option>
          <option value="1">Ru</option>
          <option value="2">Pl</option>
          <option value="3">En</option>
          <option value="4">Tr</option>
          <option value="5">Ukr</option>
        </select>
      </div>
    </div>
    <div class="mobile-menu" data-menu>
      <nav class="navigation">
        <ul class="navigation__list list">
          {% for item in navigationList %}
          <li class="navigation__list-item">
            <a href="{{item.link}}" class="navigation__list-link link">{{item.title}}</a>
          </li>

          {% endfor %}
        </ul>
      </nav>
      <p class="location">
        <svg width="18" height="18" class="location__icon">
          <use href="./assets/images/sprite.svg#location"></use>
        </svg>
        <span>Київ</span>
      </p>
      <a href="tel:+380933432127" class="contact-tel link">+38 093 343 21 27</a>
      <div class="language-select">
        <select>
          <option value="0">Ukr</option>
          <option value="1">Ru</option>
          <option value="2">Pl</option>
          <option value="3">En</option>
          <option value="4">Tr</option>
          <option value="5">Ukr</option>
        </select>
      </div>
    </div>
  </div>
</header>
