{% set lp = page %}

<!DOCTYPE html>
<html lang="{{ lp.lang }}">
  <head>
    {% include 'head.html' %}
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-564FF3"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="page">{% block content %} {% endblock %}</div>

    <script src="assets/js/app.js" async></script>

    <!--Binotel script -->
    <!-- <script type="text/javascript">
      (function (d, w, s) {
        var widgetHash = 'x7hz2hoseubfk2n05n9y',
          gcw = d.createElement(s);
        gcw.type = 'text/javascript';
        gcw.async = true;
        gcw.src = '//widgets.binotel.com/getcall/widgets/' + widgetHash + '.js';
        var sn = d.getElementsByTagName(s)[0];
        sn.parentNode.insertBefore(gcw, sn);
      })(document, window, 'script');
    </script> -->
    <!--End Binotel script -->
  </body>
</html>
