.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-mr-top) * -1);

  @include mq(tablet) {
    margin-left: calc(var(--grid-mr-left) * -1);
  }
}

.grid__item {
  margin-top: var(--grid-mr-top);

  @include mq(tablet) {
    margin-left: var(--grid-mr-left);
    flex-basis: calc(100% / var(--grid-item) - var(--grid-mr-left));
  }
}
