<div class="section awards">
    <div class="container">
        <h2 class="title section__title awards__title">нагороди GoITeens&#95;</h2>
        <div class="list awards__list awards__slider">
            <div class="awards__item">
                <div class="awards__item-wrapper">
                    <picture>
                        <source media="(min-width:1260px)" srcset="
            ./images/main/awards/award1_lg.webp    1x,
            ./images/main/awards/award1_lg@2x.webp 2x
          " type="image/webp" />

                        <source srcset="
            ./images/main/awards/award1_lg.webp    1x,
            ./images/main/awards/award1_lg@2x.webp 2x
          " type="image/webp" />
                        <source media="(min-width:1260px)" srcset="
            ./images/main/awards/award1_lg.jpg    1x,
            ./images/main/awards/award1_lg@2x.jpg 2x
          " />

                        <source srcset="./images/main/awards/award1_lg@2x.jpg 2x" />
                        <img class="awards__item-logo" src="./images/main/awards/award1_lg.jpg"
                            alt="Нагорода Best IT Education 2015" width="120" height="190" />
                    </picture>
                </div>
                <h3 class="title awards__item-title">Best IT Education 2015</h3>
                <p>За внесок у підготовку сильних Junior-фахівців</p>
            </div>
            <div class="awards__item">
                <div class="awards__item-wrapper">
                    <picture>
                        <source media="(min-width:1260px)" srcset="
            ./images/main/awards/award2_lg.webp    1x,
            ./images/main/awards/award2_lg@2x.webp 2x
          " type="image/webp" />

                        <source srcset="
            ./images/main/awards/award2_lg.webp    1x,
            ./images/main/awards/award2_lg@2x.webp 2x
          " type="image/webp" />
                        <source media="(min-width:1260px)" srcset="
            ./images/main/awards/award2_lg.jpg    1x,
            ./images/main/awards/award2_lg@2x.jpg 2x
          " />

                        <source srcset="./images/main/awards/award2_lg@2x.jpg 2x" />
                        <img class="awards__item-logo" src="./images/main/awards/award2.jpg"
                            alt="Нагорода Best IT Education 2015" width="146" height="185" />
                    </picture>
                </div>
                <h3 class="title awards__item-title">Ukrainian IT Awards 2016</h3>
                <p>За видатний внесок у IT-навчання українських Junior-розробників</p>
            </div>
            <div class="awards__item">
                <div class="awards__item-wrapper">
                    <picture>
                        <source media="(min-width:1260px)" srcset="
            ./images/main/awards/award3_lg.webp    1x,
            ./images/main/awards/award3_lg@2x.webp 2x
          " type="image/webp" />

                        <source srcset="
            ./images/main/awards/award3_lg.webp    1x,
            ./images/main/awards/award3_lg@2x.webp 2x
          " type="image/webp" />
                        <source media="(min-width:1260px)" srcset="
            ./images/main/awards/award3_lg.jpg    1x,
            ./images/main/awards/award3_lg@2x.jpg 2x
          " />

                        <img class="awards__item-logo" src="./images/main/awards/award3_lg.jpg"
                            alt="Нагорода Best IT Education 2015" width="243" height="192" />
                    </picture>
                </div>
                <h3 class="title awards__item-title">Українська народна премія 2018-2020</h3>
                <p>За перемогу в номінації IT-освіта. Голосування серед споживачів</p>
            </div>
        </div>
    </div>
</div>