.modal-btn,
.ref-to-page {
  display: block;
  width: 100%;
  max-width: 328px;
  // @include font(16px, 700);
  color: #fff;
  background-color: var(--secondary-accent-cl);
  border: none;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  transition: box-shadow 250ms linear;

  .advantages & {
    display: block;
    margin: 0 auto;
    margin-top: 52px;
  }

  .courses & {
    max-width: unset;
  }

  .appeal & {
    max-width: unset;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 0 10px 0 #ccc;
  }
}

@include mq('tablet') {
  .modal-btn,
  .ref-to-page {
    .courses & {
      max-width: 328px;
      margin: 0 auto;
    }

    .appeal & {
      max-width: 292px;
    }
  }
}

@include mq('desktop') {
  .modal-btn,
  .ref-to-page {
    max-width: 294px;
    font-size: 18px;

    .advantages & {
      max-width: 428px;
      margin-top: 78px;
    }

    .projects & {
      max-width: unset;
      min-width: 428px;
      width: unset;
    }
  }
}
