.features {
    &__list {
      font-size: 14px;
      line-height: 1.3;
      color: var(--title-cl);
    }
    &__item {
   
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &__title {
      margin-bottom: 4px;
    }
    &__icon {
      display: block;
      margin-bottom: 5px;
    }
    &__level {
      display: block;
    }
  }

  .features-1 {
    .features__age {
      padding-left: 23px;
    }
    .features__age-from {
      margin-right: 15px;
    }
  }
  .features-2 {
    .features__age {
      padding-left: 53px;
    }
    .features__age-from {
      margin-right: 15px;
    }
  }
  .features-3 {
    .features__age {
      padding-left: 23px;
    }
    .features__age-from {
      margin-right: 43px;
    }
  }
  .features-4 {
    .features__age {
      padding-left: 80px;
    }
  }
  .features-5,
  .features-6 {
    .features__age {
      padding-left: 110px;
    }
  }
  .features-7,
  .features-8,
  .features-9 {
    .features__age {
      padding-left: 167px;
    }
  }
  .features-1,
  .features-3,
  .features-4 {
    .features__level {
      padding-left: 60px;
    }
  }
  .features-2,
  .features-5,
  .features-6,
  .features-8 {
    .features__level {
      padding-left: 130px;
    }
  }

  .features-7,
  .features-9 {
    .features__level {
      padding-left: 200px;
    }
  }
