@import '../components/custom-scroll.scss';

.terms-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 90%;
  padding: 40px 15px;

  background-color: var(--white-bg);
  border-radius: 6px;

  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
  transition: all 250ms linear;
  border-radius: 6px;

  @include mq(tablet) {
    width: 80%;
    max-height: 90%;
    padding: 40px;
  }

  .backdrop_terms.is-hidden & {
    transition: all 250ms linear 0s;
  }

  &__content {
    overflow-y: scroll;
    overflow-x: hidden;

    p {
      margin: 0;
      @include fonts(14px, 400, 1.6);
      word-break: break-word;

      @include mq(tablet) {
        font-size: 16px;
      }
    }

    a {
      text-decoration: none;
      color: var(--secondary-accent-cl);
    }
  }

  &__title {
    margin-bottom: 20px;
    @include fonts(18px, 700, 1.2);
    text-transform: uppercase;
    text-align: center;

    @include mq(tablet) {
      font-size: 24px;
    }
  }

  &__subtitle {
    @include fonts(16px, 700, 1.4);
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;

    @include mq(tablet) {
      font-size: 20px;
    }
  }
}
