.terms-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 80%;
  max-height: 90%;
  background-color: var(--white-bg);
  padding: 40px;
  text-align: center;
  overflow: scroll;
  transition: transform 250ms linear 250ms;

  &__title {
    margin-bottom: 20px;
    @include fonts(18px, 700, 1.2);
   
    @include mq(tablet) {
      font-size: 24px;
    }
  }

  &__content p {
    @include fonts(14px, 400, 1.4);

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @include mq(tablet) {
      font-size: 16px;
    }
  }
}

.backdrop_terms {
  transition: all 250ms linear 0ms;
}

.backdrop_terms.is-terms-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms linear 250ms;
}

.backdrop_terms.is-terms-hidden .terms-modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms linear 0ms;
}
