.hero {
  padding-top: 106px;
  padding-bottom: 60px;

  color: var(--title-cl);
  background-color: var(--primary-accent-cl);
  background-image: url('../images/main/hero/ellipse_sm.svg');
  background-size: 92px;
  background-position: top right;
  background-repeat: no-repeat;

  @include mq(tablet) {
    padding-top: 158px;
    padding-bottom: 68px;

    background-image: url('../images/main/hero/ellipse_sm.svg'),
      url('../images/main/hero/triangle.svg');
    background-size: 134px 150px, 180px 190px;
    background-position: top right, bottom right;
  }

  @include mq(desktop) {
    position: relative;
    padding-top: 70px;
    padding-bottom: 145px;
    background-image:  url(../images/main/hero/boy_lg.png), url(../images/main/hero/ellipse_lg.svg), linear-gradient(to right, var(--yellow-bg) 76%, var(--white-bg) 76%);
    background-size: 654px, contain, cover;
    background-position: right calc((100vw - 1196px) / 2) bottom, right calc((100vw - 1450px) / 2) center, center;
  }

  &__wrapper {
    margin-bottom: 52px;
    max-width: 507px;

  }

  &__label {
    margin-bottom: 60px;
    max-width: 200px;


    span {
      color: var(--white-text-cl);
      white-space: nowrap;
    }
  }

  &__title {
    margin-bottom: 8px;
    text-transform: uppercase

  }

  &__text {
    @include fonts(20px, 400, 1.5);
  }


}
