.hero {
  padding-top: 46px;
  padding-bottom: 80px;

  color: var(--primary-accent-cl);

  background-repeat: no-repeat;
  background-size: cover, auto;
  background-position: center, top right;

  background-color: var(--yellow-bg);
  background-image: linear-gradient(rgba(var(--grey-bg-rgb),.8),rgba(var(--grey-bg-rgb),.8)),
    url('../images/main/hero/boy_sm.png');


  @include mq(tablet) {
    padding-top: 70px;
    padding-bottom: 93px;

    background-image: url('../images/components/hero-bg_sm_md.png'),
      url('../images/main/hero/boy_md.png');
  }

  @include mq(desktop) {
    padding-top: 70px;
    padding-bottom: 145px;
    color: var(--title-cl);
    background-size: 654px, contain, cover;
    background-position: right calc((100vw - 1196px) / 2) bottom,
      right calc((100vw - 1450px) / 2) center, center;
    background-image: url('../images/main/hero/boy_lg.png'),
      url('../images/main/hero/ellipse_lg.svg'),
      linear-gradient(to right, var(--yellow-bg) 76%, var(--white-bg) 76%);

    @include mq(retina) {
      background-image: url('../images/main/hero/boy_lg@2x.png'),
        url('../images/main/hero/ellipse_lg.svg'),
        linear-gradient(to right, var(--yellow-bg) 76%, var(--white-bg) 76%);
    }
  }

  &__wrapper {
    margin-bottom: 24px;
    max-width: 507px;
    @include mq(tablet) {
      margin-bottom: 52px;
    }
  }

  &__label {
    margin-bottom: 32px;
    max-width: 200px;
    @include mq(tablet) {
      margin-bottom: 52px;
    }
    @include mq(desktop) {
      margin-bottom: 60px;
    }

    span {
      color: var(--white-text-cl);
      white-space: nowrap;
    }
  }

  &__title {
    margin-bottom: 4px;
    max-width: 290px;

    text-transform: uppercase;
    @include mq(tablet) {
      margin-bottom: 16px;
      max-width: 100%;
    }
    @include mq(desktop) {
      margin-bottom: 8px;
      color: var(--title-cl);
    }
  }

  &__text {
    @include fonts(18px, 400, 1.5);
    @include mq(tablet) {
      font-size: 20px;
    }
  }
}
