.hero {
  padding-top: 70px;
  padding-bottom: 70px;
  color: var(--primary-accent-cl);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--yellow-bg);
  background-image: linear-gradient(
      rgba(var(--dark-gradient-rgb), 0.7),
      rgba(var(--dark-gradient-rgb), 0.7)
    ),
    url('../images/about/hero/bg_sm.png');
   
  @include mq(tablet) {
    background-position: center;
  }
  @include mq(desktop) {
    color: var(--secondary-accent-cl);
    padding-top: 158px;
    padding-bottom: 158px;
    background-size: contain;
    background-position: top right;
    background-image: url('../images/about/hero/bg_lg.png');
    @include mq(retina){
        background-image: url('../images/about/hero/bg_lg@2x.png');
    }
  }

  &__title {
    color: var(--white-text-cl);
    margin-bottom: 40px;
    @include mq(tablet) {
      max-width: 440px;
      margin-bottom: 32px;
    }
    @include mq(desktop) {
      max-width: 550px;
    }
    @media screen and (min-width: 1440px){
        max-width: 670px;
        font-size: 50px;
       
    }
  }

  &__description {
    max-width: 487px;
    @media screen and (min-width: 1440px){
        max-width: 570px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
