.proff-skills {
  --grid-item: 2;
  .section__title {
    margin-bottom: 24px;
    max-width: 494px;
  }
  &__wrapper {
   
    margin-bottom: 32px;
    @include mq(tablet-only) {
      align-items: flex-end;
    }
    @include mq(desktop) {
      padding-left: 80px;
      margin-bottom: 54px;
    }
    .proff-skills__img {
      margin-bottom: 24px;
    }
  }
  &__descript {
    margin-bottom: 30px;
    @include mq(desktop){
        max-width: 380px;
    }
  }
  &__descript-list {
    @include mq(desktop){
        max-width: 380px;
    }
  }
  

  &__descript-item {
    position: relative;
    padding-left: 24px;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-image: url('../images/about/proff-skills/marker.svg');
    }
  }

  &__list{
    @include mq(desktop){
        padding-right: 80px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 52px;
    }
    @include mq(tablet) {
      align-items: center;
    }
    // @include mq(desktop){
    //     padding-right: 80px;
    // }
  }

  &__img-wrap {
    position: relative;
   display: block;
   
    &::before {
      content: '';
      position: absolute;
      bottom: -1px;
      right: 0;
      width: 213px;
      height: 225px;
      border-bottom-right-radius: var(--border-radius);
      background-repeat: no-repeat;
      background-image: url('../images/about/proff-skills/decor-right.svg');
      @include mq(tablet-only){
        width: 218px;
        height: 170px;
      }
    }
  }

  &__img {
    width: 100%;
    border-radius: var(--border-radius);
    
  }

  .item-1 {
    flex-direction: row-reverse;
    .proff-skills__img-wrap{
    &::before {
        
        left: 0;
        border-bottom-left-radius: var(--border-radius);
        background-image: url('../images/about/proff-skills/decor-left.svg');
      }
    }
  }
}
