.teachers {
    background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  
  background-image: url('../images/components/bg-white-bottom.svg'),
    linear-gradient(
      to bottom,
      var(--white-bg) 0,
      var(--white-bg) 30%,
      var(--yellow-bg) 30%,
      var(--yellow-bg) 
    );



  &__title {
    margin-bottom: 24px;
  }

  &__description {
    margin-bottom: 52px;
    max-width: 570px;
  }

  &__list {
    text-align: center;

    @include mq(tablet) {
      max-width: 100%;
    }
  }

  &__item {
    color: var(--title-cl);
    max-width: 200px;
    @include mq(tablet) {
      max-width: 200px;
    }

    @include mq(desktop) {
      max-width: 270px;
    }
  }

  &__item-title {
    margin-bottom: 8px;
    font-weight: 700;
  }

  &__item-description {
    margin-bottom: 16px;
  }

  &__item-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 100%;
    border-radius: var(--border-radius);
  }

  .teachers-slider-js {
    --dots-color: var(--secondary-accent-cl);
    .slick-dots {
      bottom: -42px;
      @include mq(desktop) {
        bottom: -58px;
      }
    }
  }

  .slick-dotted.slick-slider {
    margin-bottom: 50px;
  }
}
