.teachers {
  background: url('../images/about/teachers/bg-bottom.svg'),
    linear-gradient(
      to bottom,
      var(--white-bg) 0,
      var(--white-bg) 30%,
      var(--yellow-bg) 30%,
      var(--yellow-bg) 100%
    );

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;

  .section__title {
    margin-bottom: 24px;
  }

  &-description {
    margin-bottom: 52px;
    max-width: 570px;
  }

  &-list {
    text-align: center;

    @include mq(tablet) {
      max-width: 100%;
    }
  }

  &-item {
    color: var(--title-cl);
    max-width: 200px;
    @include mq(tablet) {
      max-width: 200px;
    }

    @include mq(desktop) {
      max-width: 270px;
    }

    &__title {
      margin-bottom: 8px;
      font-weight: 700;
    }

    &__description {
      margin-bottom: 16px;
    }
  }
  &-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 100%;
    border-radius: var(--border-radius);
  }

  .teachers-slider-js {
    --dots-color: var(--secondary-accent-cl);
    .slick-dots {
      bottom: -42px;
      @include mq(desktop) {
        bottom: -58px;
      }
    }
  }

  .slick-dotted.slick-slider {
    margin-bottom: 50px;
  }
}
