.hero {
  padding-top: 70px;
  padding-bottom: 42px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/about/hero/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/about/hero/bg@2x.jpg');
  }

  &__title {
    @include font(36px, 700, 1.2);
    color: #ffffff;
    margin-bottom: 142px;
  }

  &__description {
    @include font(16px, 400, 1.2);
    color: #ffffff;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__description-br {
    display: block;
    margin-top: 20px;
  }
}

@include mq('tablet') {
  .hero {
    background-color: rgb(206, 200, 200);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/about/hero/bg-desktop.png');
    background-position: left top, right -160px center;
    background-size: auto, 892px 744px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/about/hero/bg-desktop@2x.png');
    }

    &__title {
      max-width: 440px;
      font-size: 36px;
      margin-bottom: 32px;
    }

    &__description {
      max-width: 564px;
      font-size: 18px;

      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }

    &__description-br {
      display: inline;
      margin-top: 0;
    }
  }
}

@include mq('desktop') {
  .hero {
    padding-top: 114px;
    padding-bottom: 118px;
    background-position: left top, right bottom;

    &__title {
      max-width: 750px;
      font-size: 60px;
    }

    &__description {
      max-width: 600px;
    }
  }
}
