.partners {
  padding-top: 36px;
  padding-bottom: 64px;

  .title {
    margin-bottom: 28px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -13px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    flex-basis: calc((100% - 104px) / 4);
    margin: 13px;
  }
}

@include mq('tablet') {
  .partners {
    & > .container {
      display: flex;
    }

    .title {
      font-size: 30px;
      margin-bottom: 0;
    }
  }
}

@include mq('desktop') {
  .partners {
    padding-top: 74px;
    padding-bottom: 96px;

    & > .container {
      align-items: center;
    }

    .title {
      max-width: 130px;
      margin-right: 50px;
    }

    &__list {
      margin: -32px -56px;
      flex-grow: 1;
    }

    &__list-item {
      flex-basis: calc((100% - 672px) / 6);
      margin: 32px 56px;
    }
  }
}
