.hero {
  padding-top: 132px;
  padding-bottom: 132px;
  background-color: var(--primary-accent-cl);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-image: url('../images/programs/hero/children-1_md.png');

  @include mq(tablet) {
    background-size: contain;
  }

  @include mq(desktop) {
    padding-bottom: 281px;
    min-height: 849px;
    background-image: url('../images/programs/hero/bg-line_lg.svg'),
      url('../images/programs/hero/bg-bottom_lg.png'),
      url('../images/programs/hero/children-decor_lg.png'),
      url('../images/programs/hero/bg-elips_lg.png');

    background-size: 1463px 223px, 100% 419px, 660px 651px, 1060px auto;
    background-position: bottom 13% left 35%, bottom -139px center, top 17px right 20px,
      top -143px right -228px;

    @include mq(retina) {
      background-image: url('../images/programs/hero/bg-line_lg.svg'),
        url('../images/programs/hero/bg-bottom_lg.png'),
        url('../images/programs/hero/children-decor_lg@2x.png'),
        url('../images/programs/hero/bg-elips_lg.png');
    }
  }

  &__title {
    font-size: 30px;
    color: var(--white-text-cl);
    @include mq(desktop) {
      margin-bottom: 52px;
      max-width: 535px;
      font-size: 40px;
    }
    span {
      color: var(--secondary-accent-cl);
    }
  }

  &__title-pseudo {
    display: block;
    &::after {
      content: '';
      display: inline-block;
      margin-left: 20px;
      width: 37px;
      height: 37px;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      background-image: url('../images/programs/hero/smile.png');
    }
  }
}
