<section class="projects">
    <div class="container">
        <h2 class="title">Останні реалізовані учнями <span class="accent-text">проєкти</span></h2>
        <ul class="projects__list list">
            <li class="projects__list-item">
                <div class="projects__list-img-wrapper projects__list-img-wrapper_border-theme-1">
                    <picture class="projects__list-picture">
                        <source srcset="./images/projects/project-01-desktop.png" media="(min-width: 1200px)">
                        <source srcset="./images/projects/project-01.png" media="(min-width: 320px)">
                        <img src="./images/projects/project-01.png" alt="" class="projects__list-img">
                    </picture>
                </div>
                <h3 class="projects__list-title">Проєкт 1</h3>
                <p class="projects__list-description">«Тут я можу дійсно робити круті та корисні речі, а ще спілкуватися
                    з тими, хто також прагне досягти більшого в своєму житті»</p>
            </li>
            <li class="projects__list-item">
                <div class="projects__list-img-wrapper projects__list-img-wrapper_border-theme-2">
                    <picture class="projects__list-picture">
                        <source srcset="./images/projects/project-02-desktop.png" media="(min-width: 1200px)">
                        <source srcset="./images/projects/project-02.png" media="(min-width: 320px)">
                        <img src="./images/projects/project-02.png" alt="" class="projects__list-img">
                    </picture>
                </div>
                <h3 class="projects__list-title">Проєкт 2</h3>
                <p class="projects__list-description">«Тут я можу дійсно робити круті та корисні речі, а ще спілкуватися
                    з тими, хто також прагне досягти більшого в своєму житті»</p>
            </li>
            <li class="projects__list-item">
                <div class="projects__list-img-wrapper projects__list-img-wrapper_border-theme-1">
                    <picture class="projects__list-picture">
                        <source srcset="./images/projects/project-03-desktop.png" media="(min-width: 1200px)">
                        <source srcset="./images/projects/project-03.png" media="(min-width: 320px)">
                        <img src="./images/projects/project-03.png" alt="" class="projects__list-img">
                    </picture>
                </div>
                <h3 class="projects__list-title">Проєкт 3</h3>
                <p class="projects__list-description">«Тут я можу дійсно робити круті та корисні речі, а ще спілкуватися
                    з тими, хто також прагне досягти більшого в своєму житті»</p>
            </li>
        </ul>
        <button type="button" class="modal-btn">Більше про результати наших учнів</button>
    </div>
</section>