.advantages {

  background-image: url('../images/main/advantages/how-vector.svg');
  background-size: 375px 352px;
  background-position: -237px top;
  background-repeat: no-repeat;

  @include mq(tablet) {
    background-position: -70px 150px;
  }
  @include mq(desktop) {
    background-position: 40px center;
  }

  .section__title {
    max-width: 900px;
   
    
  }

  .list {
   
    margin-bottom: 52px;
    flex-direction: column;

    @include mq(tablet) {
      --grid-item: 2;
      
      flex-direction: row;
  
    }
  }

  .item {
    position: relative;

    padding: 40px 40px;

    background-color: var(--white-bg);
    box-shadow: var(--block-shadow);
    border-radius: var(--border-radius);
    transition: all var(--fast-animation) ease-out;

    @include mq(desktop) {
      padding: 40px 100px;
    }
  }

  .icon {
    margin-bottom: 16px;

    @include mq('desktop') {
      position: absolute;
      margin-bottom: 0;
      top: 18px;
      right: 18px;
    }
  }

  .text-bold {
    margin-bottom: 24px;
    color: var(--main-text-cl);
  }

  .main-btn {
    margin: 0 auto;
    line-height: 20px;
  }
}
