.hero {
  padding-top: 106px;
  padding-bottom: 60px;

  color: var(--title-cl);
  background-color: $yellow-color;
  background-image: url('../images/main/hero/ellipse_sm.svg');
  background-size: 92px;
  background-position: top right;
  background-repeat: no-repeat;

  @include mq(tablet) {
    padding-top: 158px;
    padding-bottom: 68px;

    background-image: url('../images/main/hero/ellipse_sm.svg'),
      url('../images/main/hero/triangle.svg');
    background-size: 134px 150px, 180px 190px;
    background-position: top right, bottom right;
  }

  @include mq('desktop') {
    position: relative;
    padding-top: 71px;
    padding-bottom: 145px;
    background-image: url('../images/main/hero/boy_lg1.png'),
      url('../images/main/hero/ellipse_lg.svg'),
      linear-gradient(to right, #fec830 80%, #ffffff 80%);
    background-size: 654px, contain, cover;
    background-position: right calc((100vw - 1196px) / 2) bottom,
      right 150px center, center;
  }

  &__wrapper {
    margin-bottom: 52px;
    max-width: 501px;
    @include mq('desktop') {
    }
  }

  &__title-desc {
    margin-bottom: 60px;
    max-width: 200px;
    @include fonts(13px, 700, 1.45);
    letter-spacing: 0.07em;
    text-transform: uppercase;

    span {
      color: var(--white-text-cl);
      white-space: nowrap;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-size: 40px;
  }

  &__text {
    @include fonts(20px, 400, 1.5);
  }

  // .main-btn {
  //   @include mq(mobile-only) {
  //     margin: 0 auto;
  //   }
  // }
}
