.hero {
  padding-top: 96px;
  padding-bottom: 60px;
  background-color: #ffce3e;
  background-repeat: no-repeat;
  // overflow-x: hidden;
  // overflow-y: visible;

  padding-top: 106px;
  padding-bottom: 60px;

  color: var(--title-cl);
  background-color: $yellow-color;
  background-image: url('../images/main/hero/ellipse_sm.svg');
  background-size: 92px;
  background-position: top right;
  background-repeat: no-repeat;

  @include mq(tablet) {
    padding-top: 158px;
    padding-bottom: 68px;

    background-image: url('../images/main/hero/ellipse_sm.svg'),
      url('../images/main/hero/triangle.svg');
    background-size: 134px 150px, 180px 190px;
    background-position: top right, bottom right;
  }

  @include mq('desktop') {
    position: relative;
    padding-top: 71px;
    padding-bottom: 145px;

    background-image: url('../images/main/hero/boy_lg1.png'),
      url('../images/main/hero/ellipse1_lg.png');
    background-size: 654px, auto;
    background-position: right calc((100vw - 1196px) / 2) bottom,
      right -190px bottom -205px;
  }

  &__wrapper {
    margin-bottom: 52px;
    max-width: 501px;
    @include mq('desktop') {
    }
  }

  &__title-desc {
    margin-bottom: 60px;
    max-width: 200px;
    @include fonts(13px, 700, 1.45);
    letter-spacing: 0.07em;
    text-transform: uppercase;

    // @include mq('desktop') {
    // }

    span {
      color: var(--white-text-cl);
      white-space: nowrap;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-size: 40px;
  
  }

  &__text {
    @include font(20px, 400, 1.5);
    // @include mq('desktop') {
    // }
  }

 
}
