.projects {
  padding-bottom: 30px;
  background: linear-gradient(
    to bottom,
    var(--white-bg) 0,
    var(--white-bg) 32%,
    var(--yellow-bg) 32%,
    var(--yellow-bg) 100%
  );

  @include mq(tablet) {
    padding-bottom: 34px;
    background: url('../images/main/projects/bg-line_md.svg') center/contain no-repeat,
      linear-gradient(
        to bottom,
        var(--white-bg) 0,
        var(--white-bg) 25%,
        var(--yellow-bg) 25%,
        var(--yellow-bg) 100%
      );
  }

  @include mq(desktop) {
    padding-bottom: 45px;
    background: url('../images/main/projects/bg-line_lg.svg') bottom 40% center/contain no-repeat,
      linear-gradient(
        to bottom,
        var(--white-bg) 0,
        var(--white-bg) 30%,
        var(--yellow-bg) 30%,
        var(--yellow-bg) 100%
      );
  }

  .section__title {
    margin-bottom: 24px;
  }

  .projects-description {
    margin-bottom: 52px;

    span {
      display: block;
    }
  }

  &-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    counter-reset: item;
    text-align: center;

    --dots-color: var(--secondary-accent-cl);

    @include mq(tablet) {
      max-width: 100%;
    }
  }

  &-item {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    text-align: start;
    // color: var(--grey-text-cl);
    background-color: var(--white-bg);
    border-radius: var(--border-radius);

    counter-increment: item;

    @include mq(tablet) {
      // max-width: 314px;
      box-shadow: 2px 8px 8px #5c2e9114, 2px 2px 4px #5c2e913d;
    }

    @include mq(desktop) {
      // max-width: 370px;
      margin-bottom: 0;
      padding: 40px;
      box-shadow: var(--block-shadow);
    }

    &::before {
      content: 'project \0023'counter(item);
      position: absolute;
      top: 52px;
      left: 0;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 2px;
      padding-right: 2px;
      @include font(13px, 700, 0.9);
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: var(--white-text-cl);
      background-color: var(--dark-bg);
    }

    &__image {
      margin-bottom: 24px;
      width: 100%;
      border-radius: 12px 12px 0 0;

      @include mq(desktop) {
        border-radius: var(--border-radius);
      }
    }

    &__wrapper {
      padding-left: 20px;
      padding-right: 20px;
      // padding-top: 24px;
      padding-bottom: 32px;
      min-height: 508px;

      @include mq(desktop) {
        padding: 0;
        min-height: 373px;
      }
    }

    &__title {
      margin-bottom: 16px;
      padding-right: 15px;

      @include mq(desktop) {
        margin-bottom: 8px;
      }
    }

    &__description {
      margin-bottom: 20px;
    }
  }

  .more-link {
    position: relative;
    display: inline-block;
    width: 158px;
    height: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;

    @include font(14px, 400, 1.07);
    text-align: center;
    line-height: 17px;
    color: var(--white-text-cl);

    border: none;
    border-radius: 4px;
    background: linear-gradient(
      90deg,
      #aa43a2 0,
      #aa43a2 32px,
      var(--small-btn-bg) 32px,
      var(--small-btn-bg) 100%
    );

    text-decoration: none;
    transition: all 250ms linear;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('../images/main/projects/btn-arrow.svg');
    }

    &:hover,
    &:focus {
      background: linear-gradient(
        90deg,
        var(--small-btn-bg) 0,
        var(--small-btn-bg) 32px,
        #aa43a2 32px,
        #aa43a2 100%
      );
    }
  }

  .main-btn {
    margin: 0 auto;
    line-height: 20px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .projects-slider-js {
    .slick-dots {
      @include mq(desktop) {
        bottom: -80px;
      }
    }
  }

  .slick-dotted.slick-slider {
    margin-bottom: 60px;
    @include mq(desktop) {
      margin-bottom: 139px;
    }
  }
}
