<header class="header">
    <div class="container">
        <a href="/" class="logo link" aria-label="логотип">
            <img src="./images/header/logo.png" alt="логотип" class="logo__img">
            <span class="logo__text">мережа ІТ-академій <br> для дітей 8-15 років</span>
        </a>
        <button type="button" class="menu-btn" data-menu-button aria-expanded="false" aria-controls="mobile-menu">
            <svg width="40" height="36" class="menu-btn__icons">
                <use href="./assets/images/sprite.svg#burger" class="menu-btn__icon_burger"></use>
                <use href="./assets/images/sprite.svg#close" class="menu-btn__icon_close"></use>
            </svg>
        </button>
        <div class="mobile-menu" data-menu>
            <nav class="navigation">
                <ul class="navigation__list list">
                    <li class="navigation__list-item">
                        <a href="./programs.html" class="navigation__list-link link">Програми</a>
                    </li>
                    <li class="navigation__list-item">
                        <a href="./about.html" class="navigation__list-link link">Про нас</a>
                    </li>
                    <li class="navigation__list-item">
                        <a href="./testimonials.html"
                            class="navigation__list-link navigation__list-link_current link">Результати учнів</a>
                    </li>
                    <li class="navigation__list-item">
                        <a href="./contact-page.html" class="navigation__list-link link">Контакти</a>
                    </li>
                </ul>
            </nav>
            <p class="location">
                <svg width="24" height="22" class="location__icon">
                    <use href="./assets/images/sprite.svg#location-icon"></use>
                </svg>
                <span>київ</span>
            </p>
            <a href="tel:+380933432127" class="contact-tel link">+38 093 343 21 27</a>
        </div>
    </div>
</header>
