<section class="testimonials">
    <div class="container">
        <h2 class="title">Що <span class="accent-text">говорять</span> наші учні</h2>
        <div class="testimonials-slider testimonials__students-slider">
            <div class="testimonials-slider__slide">
                <div class="testimonials-slider__slide-content">
                    <div class="testimonials-slider__slide-left-side">
                        <p class="testimonials-slider__slide-text">«Основна моя сфера, яку я вивчаю протягом навчального
                            року
                            Front-end! Завдяки зрозумілому та сучасному методу викладання школи GoITeens, зокрема і мого
                            викладача Родіона Романова мені вдалося зайняти найкраще місце на марафоні з програмування.
                            Круто навчатися в школі GoITeens: цікаве, сучасне викладання та легке сприйняття матеріалу»
                        </p>
                    </div>
                    <div class="testimonials-slider__slide-right-side">
                        <picture class="testimonials-slider__slide-picture">
                            <img src="./images/testimonials/students-testimonials/makar.png" alt=""
                                class="testimonials-slider__slide-img">
                        </picture>
                        <div class="testimonials-slider__slide-img-description">
                            <h3 class="testimonials-slider__slide-title">Макар Луцький</h3>
                            <!-- <p class="testimonials-slider__slide-age">8 років</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials-slider__slide">
                <div class="testimonials-slider__slide-content">
                    <div class="testimonials-slider__slide-left-side">
                        <p class="testimonials-slider__slide-text">«Курси з розробки ігор дуже сподобались. Навчання йде
                            швидко, багато практики, є допомога від викладача. Теорія також на високому рівні - вивчаємо
                            те, що потрібно. Софт скіли також не підвели, там теж хороші викладачі, особливо Юля,
                            матеріал вчиться швидко. Контингент учнів теж сподобався - люди оригінальні, дружні й
                            цікаві.»</p>
                    </div>
                    <div class="testimonials-slider__slide-right-side">
                        <picture class="testimonials-slider__slide-picture">
                            <img src="./images/testimonials/students-testimonials/sergeiIvleev.png" alt=""
                                class="testimonials-slider__slide-img">
                        </picture>
                        <div class="testimonials-slider__slide-img-description">
                            <h3 class="testimonials-slider__slide-title">Сергій Ієвлєв</h3>
                            <!-- <p class="testimonials-slider__slide-age">8 років</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials-slider__slide">
                <div class="testimonials-slider__slide-content">
                    <div class="testimonials-slider__slide-left-side">
                        <p class="testimonials-slider__slide-text">«Мені пощастило, що я навчаюся з GoIteens. Ці курси
                            навчили/навчають мене не тільки розробці ігор, а й праці в команді, навчають мене думати
                            по-іншому, знаходити нові рішення й вирішувати цікаві завдання. Тобто, GoIteens розвиває тебе
                            ще і як людину. Вчителі добре пояснюють, допомагають, тому навчатися в GoIteens дуже цікаво.»
                        </p>
                    </div>
                    <div class="testimonials-slider__slide-right-side">
                        <picture class="testimonials-slider__slide-picture">
                            <img src="./images/testimonials/students-testimonials/kirilAzarov.png" alt=""
                                class="testimonials-slider__slide-img">
                        </picture>
                        <div class="testimonials-slider__slide-img-description">
                            <h3 class="testimonials-slider__slide-title">Кирило Азаров</h3>
                            <!-- <p class="testimonials-slider__slide-age">8 років</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials-slider__slide">
                <div class="testimonials-slider__slide-content">
                    <div class="testimonials-slider__slide-left-side">
                        <p class="testimonials-slider__slide-text">«Я задоволений навчанням, як і софтами так і хард
                            скілами.
                            Загалом заняття проходять цікаво і вся інформація подається дуже доступно і зрозуміло,
                            методи навчання також подобаються( наприклад на хард скілах...спочатку вивчаєм важчий
                            спосіб, щоб зрозуміти що і як працює і вже після спрощуєм собі життя ), клієнт менеджер
                            завжди на зв'язку, якщо коротко то все класно🤟
                            І скучив за атмосферою офісних занять <br><br> Цікаві моменти:
                            Найцікавіші моменти відбуваються з 10 до 14, а вже після і до...як коли
                            <br><br>
                            Найбільше подобається бачити свій прогрес, коли я дивився на сайти і думав "вау, це так
                            класно виглядає" і зараз дивлюсь на це і думаю " я можу набагато цікавіше»
                        </p>
                    </div>
                    <div class="testimonials-slider__slide-right-side">
                        <picture class="testimonials-slider__slide-picture">
                            <img src="./images/testimonials/students-testimonials/yuriyPidlyskyy.png" alt=""
                                class="testimonials-slider__slide-img">
                        </picture>
                        <div class="testimonials-slider__slide-img-description">
                            <h3 class="testimonials-slider__slide-title">Юрій Підлиський</h3>
                            <!-- <p class="testimonials-slider__slide-age">8 років</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>