{% set winnersProject = winners_project %}

<section class="section winners-project">
    <div class="container">
  
        <div class="grid">
            <iframe class="winners-project__video grid__item" src="https://www.youtube.com/embed/ppGpsoegMGQ" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <!-- <img src="./images/testimonials/winners-project/video.png" alt="" class="winners-project__video"> -->
            <div class="grid__item">
                <h2 class="section__title">{{winnersProject.title}}</h2>
                <p class="text-label">{{winnersProject.description}}</p>
                <p class="text-bold">{{winnersProject.text_1}}</p>
                <p>{{winnersProject.text_2}}</p>
            </div>

        </div>

    </div>
</section>