{% set winnersProject = winners_project %}
<section class="winners-project section">
  <div class="container">
    <div class="winners-project__wrapper grid">
      <div class="winners-project__video-wrap grid__item">
        <div class="winners-project__video youtube-js" data-embed="ppGpsoegMGQ">
          {% include 'components/play-btn.html' %}
        </div>
      </div>
      <div class="grid__item">
        <h2 class="winners-project__title title">{{winnersProject.title}}</h2>
        <p class="winners-project__descript text-label">{{winnersProject.description}}</p>
        <p class="winners-project__text text-bold">{{winnersProject.text_how}}</p>
        <p>{{winnersProject.text_winners}}</p>
      </div>
    </div>
  </div>
</section>
