{% set winnersProject = winners_project %}

<section class="winners-project section">
    <div class="container">
  
        <div class="grid">
            <iframe class="winners-project__video grid__item" title="відео IT-змагань серед підлітків" src="https://www.youtube.com/embed/ppGpsoegMGQ" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen loading="lazy"></iframe>

            <div class="grid__item">
                <h2 class="section__title">{{winnersProject.title}}</h2>
                <p class="text-label">{{winnersProject.description}}</p>
                <p class="text-bold">{{winnersProject.text_1}}</p>
                <p>{{winnersProject.text_2}}</p>
            </div>

        </div>

    </div>
</section>