{% set currentPage = page.main %} {% extends 'layout.html' %} {% block content %} {% include 'header.html'
%}
<main>
  {% include 'main/hero.html' %}  {% include
  'main/advantages.html' %} {% include 'main/achievments.html' %} {% include 'main/main-awards.html'
  %} {% include 'main/dignity.html' %} {% include 'main/students-reviews.html' %} {% include
  'main/projects.html' %} {% include 'main/appeal.html' %}
</main>
{% include 'footer.html' %} {% include 'modal-form.html' %} {% include 'terms.html' %} {# {% include 'components/payment-agreement.html' %} #} {% endblock
%}
