.appeal {
  overflow: hidden;

  .container {
    position: relative;
    padding-top: 54px;
    padding-bottom: 46px;
    z-index: 0;

    &::after {
      position: absolute;
      bottom: -100px;
      right: -320px;
      z-index: -1;
      content: '';
      width: 668px;
      height: 645px;
      background-image: url('../images/main/appeal/bg-mob.png');
      background-size: cover;
    }
  }

  &__text {
    @include font(24px, 400);
    margin-bottom: 40px;
  }
}

@include mq('tablet') {
  .appeal {
    .container {
      &::after {
        bottom: -70px;
        right: -290px;
        width: 534px;
        height: 516px;
      }
    }
  }
}

@include mq('desktop') {
  .appeal {
    .title {
      font-size: 80px;
      line-height: 80px;
      margin-bottom: 30px;
    }

    .container {
      padding-top: 106px;
      padding-left: 82px;
      padding-bottom: 106px;

      &::after {
        bottom: -24px;
        right: -202px;
        width: 803px;
        height: 774px;
        background-image: url('../images/main/appeal/bg-desk1.png');
      }
    }

    &__text {
      width: 500px;
      margin-bottom: 44px;
    }
  }
}
