.dignity {
  padding-top: 50px;
  padding-bottom: 30px;

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__list-title {
    @include font(16px, 700);
    margin-bottom: 18px;
    width: 240px;
  }

  &__picture {
    display: block;
    margin-bottom: 18px;
  }

  &__list-text {
    @include font(16px, 400);
  }
}

@include mq('tablet', max) {
  .dignity {
    &__list-img {
      max-width: unset;
      width: 100%;
    }
  }
}

@include mq('tablet') {
  .dignity {
    &__list-item {
      display: flex;
      justify-content: flex-end;
      position: relative;
    }

    &__list-content {
      width: 370px;
      height: 206px;
    }

    &__picture {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@include mq('desktop') {
  .dignity {
    padding-top: 40px;
    padding-bottom: 62px;

    &__picture {
      margin-bottom: 0;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__list-item {
      width: 560px;

      &:not(:last-child) {
        margin-bottom: 68px;
      }
    }

    &__list-content {
      width: 260px;
      padding-top: 20px;
    }

    &__list-title {
      font-size: 21px;
      width: auto;
      margin-bottom: 8px;
    }

    &__list-text {
      font-size: 18px;
    }
  }
}
