.footer {
  background-color: #111111;
  padding: 22px 0;
}

.terms-list {
  &__link {
    @include font(12px, 400);
    color: rgb(223, 222, 222);
    transition: opacity 250ms linear;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

@include mq('tablet', max) {
  .footer {
    &__logo {
      display: block;
      width: max-content;
      margin: 0 auto;
      margin-bottom: 14px;
    }

    &__tel {
      display: none;
    }
  }

  .terms-list {
    &__item {
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }
}

@include mq('tablet') {
  .footer {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__tel {
      font-size: 14px;
      font-weight: 700;
      color: #fff;
    }
  }

  .terms-list {
    display: flex;
    align-items: center;

    &__item {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

@include mq('desktop') {
  .footer {
    padding: 44px 0;

    &__tel {
      font-size: 24px;
    }
  }

  .terms-list {
    &__item {
      &:not(:last-child) {
        margin-right: 80px;
      }
    }

    &__link {
      font-size: 16px;
    }
  }
}
