.awards-list {
  &__item {
    display: flex;
    align-items: center;
  }

  &__picture {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    min-width: 135px;
  }

  &__content {
    padding-left: 12px;
    flex-shrink: 1;
  }

  &__title {
    @include font(18px, 700);
    margin-bottom: 16px;
  }

  &__text {
    @include font(16px, 400);
  }
}

@include mq('tablet', max) {
  .awards-list {
    &__item {
      &:not(:last-child) {
        margin-bottom: 46px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .awards-list {
    display: flex;
    margin: 0 -10px;

    &__item {
      width: calc((100% - 60px) / 3);
      flex-direction: column;
      margin: 0 10px;
    }

    &__content {
      padding-left: 0;
    }

    &__picture {
      height: 170px;
      align-items: flex-end;
      margin-bottom: 16px;
    }

    &__content {
      text-align: center;
    }
  }
}

@include mq('desktop') {
  .awards-list {
    display: flex;
    justify-content: space-between;

    &__item {
      width: max-content;
      align-items: flex-start;
      padding-top: 14px;

      &_order-1 {
        order: -1;
      }
    }

    &__picture {
      min-width: unset;
      justify-content: flex-start;
      margin-right: 40px;
    }

    &__content {
      width: 188px;
      padding-top: 30px;
      padding-left: 0;
    }

    &__title {
      font-weight: 400;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 18px;
    }
  }
}
