.achievments {
  padding-bottom: 36px;

  &__banner {
    padding-top: 30px;
    padding-bottom: 52px;
    margin-bottom: 68px;
  }

  &__banner-figure {
    position: relative;
    margin: 0;
  }

  &__banner-img {
    border-radius: 8px;
    max-width: unset;
    width: 100%;
  }

  &__banner-picture-title {
    @include font(24px, 700);
  }

  &__banner-picture-text {
    @include font(18px, 400);
  }

  &__banner-picture-title {
    margin-bottom: 22px;
  }

  &__banner-caption {
    position: absolute;
    bottom: 18px;
    left: 32px;
    width: 192px;
    color: #fff;
  }

  &__banner-description {
    @include font(16px, 400);

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }
}

@include mq('desktop', max) {
  .achievments {
    &__banner {
      background-color: rgb(254, 205, 77);
    }
  }
}

@include mq('tablet', max) {
  .achievments {
    &__banner-left-side {
      margin-bottom: 36px;
    }
  }
}

@include mq('tablet') {
  .achievments {
    &__banner {
      .container {
        display: flex;
      }
    }

    &__banner-left-side {
      width: max-content;
      flex-shrink: 0;
    }

    &__banner-right-side {
      padding-left: 56px;
    }

    &__banner-img {
      max-width: 100%;
    }
  }
}

@include mq('desktop') {
  .achievments {
    padding-top: 0;
    padding-bottom: 80px;

    &__banner {
      padding-top: 0;
      margin-bottom: 16px;
    }

    &__banner-right-side {
      padding-top: 110px;
      padding-right: 34px;
      background-color: rgb(254, 205, 77);
    }

    &__banner-img {
      border-radius: 0;
    }

    &__banner-caption {
      width: 300px;
      left: unset;
      right: 64px;
      bottom: 44px;
      text-align: right;
    }

    &__banner-picture-title {
      font-weight: 400;
      margin-bottom: 6px;
    }

    &__banner-description {
      font-size: 18px;
      line-height: 1.25;

      &:not(:last-child) {
        margin-bottom: 62px;
      }
    }
  }
}
