.section{
  @include mq('desktop') {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}


.section-title {
  @include mq('desktop') {
    
    @include font(34px, 700, 1.3);

    text-transform: uppercase;
  }
}
