{% set achievments = achievments_main %}
<section class="section achievments">
  <div class="achievments__cont">
    <div class="container">
      <div class="achievments__wrapper">
        <picture>
          <!-- <source srcset="
                ./images/achievments/portrait.webp    470w,
                ./images/achievments/portrait@2x.webp 940w
              " type="image/webp" sizes="470px" /> -->
          <img
            src="./assets/images/main/achievments/vp_lg.jpg"
            class="achievments__img"
            alt="Фото Вячеслава Поліновського CEO GoITeens"
            sizes="470px"
            width="470"
            height="580"
            loading="lazy"
          />
        </picture>
        <div class="achievments__side">
          <h2 class="section__title achievments__title">
            {{achievments.title}}
 
          </h2>
          <div class="achievments__content">
            {{achievments.description}}
            <p class="achievments__text">{{achievments.author}}
              <span> {{achievments.position}} </span>

            </p>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
