<section class="section achievments">
  <div class="achievments__cont">
    <div class="container">
      <div class="wrapper">
        <picture>
          <!-- <source srcset="
                ./images/achievments/portrait.webp    470w,
                ./images/achievments/portrait@2x.webp 940w
              " type="image/webp" sizes="470px" /> -->
          <img
            src="./assets/images/main/achievments/vp_lg.jpg"
            class="img"
            alt="Фото Вячеслава Поліновського CEO GoITeens"
            sizes="470px"
            width="470"
            height="580"
          />
        </picture>
        <div class="achievments__side">
          <h2 class="section__title">
            Майбутнє - за програмуванням. І наші діти зіграють в цьому головну
            роль!
          </h2>
          <div class="achievments__content">
            <p>
              Програмування, за версією The World Economic Forum, це одна з
              ТОП-навичок, що буде потрібна у майбутньому.
            </p>
            <p>
              Тому якщо ви хочете знайти для своєї дитини актуальну та цікаву
              професію з високою зарплатою, то програмування та веб-розробка -
              це саме те що потрібно.
            </p>
            <p>
              Онлайн IT-курси для дітей - це не швидкий майстер-клас чи семінар
              від відомого фахівця. Це цікава та насичена необхідними навичками
              система навчання, що сподобається підлітку та його батькам. Вона
              підійде для тих, хто бажає перетворити любов дитини до
              комп’ютерних ігор в корисний навчальний процес чи підкаже з чого
              почати вести свій блог.
            </p>
            <p class="achievments__text">
              Вячеслав Поліновський
              <span> CEO GoITeens </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'components/awards.html' %}
  
</section>
