{% set achievments = achievments_main %}
<section class="achievments section">
  <div class="achievments__cont">
    <div class="container">
      <div class="achievments__wrapper">
        <picture>
          <source
          srcset="
          ./assets/images/main/achievments/vp_lg.webp    1x,
          ./assets/images/main/achievments/vp_lg@2x.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />

        <source
          srcset="./assets/images/main/achievments/vp_lg@2x.jpg 2x"
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
          <img
            src="./assets/images/main/achievments/vp_lg.jpg"
            class="achievments__img"
            alt="Фото Вячеслава Поліновського CEO GoITeens"
            
            width="470"
            height="580"
            loading="lazy"
          />
        </picture>
        <div class="achievments__side">
          <h2 class="achievments__title">
            {{achievments.title}}
 
          </h2>
          <div class="achievments__content">
            {{achievments.description}}
            <p class="achievments__text">{{achievments.author}}
              <span> {{achievments.position}} </span>

            </p>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
