{% set advantages = advantages %} {% set advantagesItems = advantages.items %}
<section class="section advantages">
  <div class="container">
    <h2 class="section__title">
      Завдяки чому ваша дитина створить свій перший власний проект в
      GoITeens?&#95;
    </h2>
    <ul class="list grid">
      {% for item in advantagesItems %}
      <li
        class="item grid__item"
        data-aos="fade-up"
        data-aos-delay="{{item.delay}}"
        data-aos-anchor=".advantages"
      >
        <svg class="icon" width="72" height="72">
          <use href="assets/images/sprite.svg{{item.svg_use}}"></use>
        </svg>
        <p class="text-bold">
         {{item.title}}
        </p>
        <p>
         {{item.description}}
        </p>
      </li>

      {% endfor %}

    </ul>
    <a href="./about.html" class="main-btn"
      >Більше про наш підхід до навчання</a
    >
  </div>
</section>
