<section class="advantages">
    <div class="container">
        <h2 class="title">Завдяки чому ваша дитина створить свій перший власний проєкт в GoITeens?</h2>

        <ul class="advantages-list list">
            <li class="advantages-list__item advantages-list__item_icon-brain">
                <h3 class="advantages-list__title">Розвиток <span class="accent-text">технологічного</span> та <span
                        class="accent-text">інноваційного</span> мислення</h3>
                <p class="advantages-list__text">Ваша дитина набуває Soft Skills та різні типи мислення, що допомагає їй
                    стати більш креативною, впевненою в собі людиною</p>
            </li>
            <li class="advantages-list__item advantages-list__item_icon-head">
                <h3 class="advantages-list__title">Менторство</h3>
                <p class="advantages-list__text">Наші вчителі мають індивідуальний підхід до кожної дитини. Вони завжди
                    допомагають, але так, щоб дитина робила все власноруч.</p>
            </li>
            <li class="advantages-list__item advantages-list__item_icon-robot">
                <h3 class="advantages-list__title">Оточення <span class="accent-text">мотивованих</span> та <span
                        class="accent-text">ініціативних</span> дітей</h3>
                <p class="advantages-list__text">Кожна дитина, що прийшла на курс зацікавлена майбутніми успіхами</p>
            </li>
            <li class="advantages-list__item advantages-list__item_icon-ai">
                <h3 class="advantages-list__title"><span class="accent-text">Реалізовані проєкти</span> як результат
                    навчання</h3>
                <p class="advantages-list__text">По закінченню навчання діти не тільки отримують сертифікати, а й мають
                    вже готові проєкти в портфоліо</p>
            </li>
        </ul>
        <a href="./about.html' %} class="ref-to-page link">Більше про наш підхід до навчання</a>
    </div>
</section>