<section class=" section branches">
    <div class="container">
        <ul class="branches__list list grid">
            <li class="branches__item grid__item online ">
                Online
            </li>
            <li class="branches__item grid__item ukraine ">
                Україна
            </li>
            <li class="branches__item grid__item poland ">
                Польща
            </li>
            <li class="branches__item grid__item turkey ">
                Турція
            </li>

        </ul>
    </div>
</section>