{% set dignity = dignity %} {% set dignityItems = dignity.items %}
<section class="dignity section">
  <div class="container">
    <h2 class="section__title">
     {{dignity.title}}
    </h2>
    <ul class="dignity__list list grid">
      {% for item in dignityItems %}
      <li class="dignity__item grid__item">
        <picture>
          <source
          srcset="
            ./assets/images/main/dignity/dignity-{{item.id}}.webp    1x,
            ./assets/images/main/dignity/dignity-{{item.id}}@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />

        <source
          srcset="./assets/images/main/dignity/dignity-{{item.id}}@2x.png 2x"
          media="(min-width: 320px)"
          type="image/png"
        />
          <img
            class="dignity__img"
            src="./assets/images/main/dignity/dignity-{{item.id}}.png"
            alt="діти на навчанні"
            width="222"
            height="130"
          />
        </picture>
        <h3 class="text-bold">
          {{item.title}}
        </h3>
        <p>
      {{item.description}}
        </p>
      </li>
           
      {% endfor %}

    </ul>
  </div>
</section>
