<section class="dignity">
    <div class="container">
        <h2 class="title">Чому нам <span class="accent-text">довіряють</span></h2>
        <ul class="dignity__list list">
            <li class="dignity__list-item">
                <div class="dignity__list-content">
                    <h3 class="dignity__list-title">Розвиваємо власну мережу
                        і контролюємо якість</h3>
                    <picture class="dignity__picture">
                        <source srcset="./images/main/dignity/dignity-img-1-desktop.jpg" media="(min-width: 1200px)">
                        <source srcset="./images/main/dignity/dignity-img-1.jpg" media="(min-width: 320px)">
                        <img src="./images/main/dignity/dignity-img-1.jpg" alt="" class="dignity__list-img">
                    </picture>
                    <p class="dignity__list-text">Школи у всіх містах працюють за єдиними стандартами якості та
                        управляються однією командою.</p>
                </div>
            </li>
            <li class="dignity__list-item order-2">
                <div class="dignity__list-content">
                    <h3 class="dignity__list-title">Показуємо зрозумілий
                        результат навчання</h3>
                    <picture class="dignity__picture">
                        <source srcset="./images/main/dignity/dignity-img-2-desktop.jpg" media="(min-width: 1200px)">
                        <source srcset="./images/main/dignity/dignity-img-2.jpg" media="(min-width: 320px)">
                        <img src="./images/main/dignity/dignity-img-2.jpg" alt="" class="dignity__list-img">
                    </picture>
                    <p class="dignity__list-text">Протягом навчання учні реалізовують проєкти: від простих концептів до
                        реальних стартапів.</p>
                </div>
            </li>
            <li class="dignity__list-item order-1">
                <div class="dignity__list-content">
                    <h3 class="dignity__list-title">Відкрито спілкуємось
                        з дітьми та батьками</h3>
                    <picture class="dignity__picture">
                        <source srcset="./images/main/dignity/dignity-img-3-desktop.jpg" media="(min-width: 1200px)">
                        <source srcset="./images/main/dignity/dignity-img-3.jpg" media="(min-width: 320px)">
                        <img src="./images/main/dignity/dignity-img-3.jpg" alt="" class="dignity__list-img">
                    </picture>
                    <p class="dignity__list-text">Щомісяця батьки отримують від нас звітність та зворотний зв'язок про
                        успіхи дітей у навчанні.</p>
                </div>
            </li>
            <li class="dignity__list-item order-3">
                <div class="dignity__list-content">
                    <h3 class="dignity__list-title">Відповідаємо за безпеку</h3>
                    <picture class="dignity__picture">
                        <source srcset="./images/main/dignity/dignity-img-4-desktop.jpg" media="(min-width: 1200px)">
                        <source srcset="./images/main/dignity/dignity-img-4.jpg" media="(min-width: 320px)">
                        <img src="./images/main/dignity/dignity-img-4.jpg" alt="" class="dignity__list-img">
                    </picture>
                    <p class="dignity__list-text">Уважно ставимося до безпеки, контролюємо присутність та тримаємо
                        зв'язок з батьками.</p>
                </div>
            </li>
        </ul>
    </div>
</section>