<footer class="footer">
  <div class="container">
    <a href="/" class="footer__logo">
      <img src="./assets/images/footer/logo.svg" alt="логотип" class="footer__logo-img" />
    </a>
    <ul class="list menus">
      <li class="list-item menus-item">
        <a class="link" href="/" aria-label="Каталог">Каталог курсів</a>
      </li>
      <li class="list-item menus-item">
        <a class="link" href="tel:+380933432127" aria-label="Телефон">+38 093 343 21 27</a>
      </li>
    </ul>
    <ul class="list grid socials">
      <li class="list-item grid__item socials-item">
        <a class="link socials-link" href="https://web.telegram.org/k/"  rel="noopener noreferrer nofollow" target="_blank" aria-label="Телеграмм"><svg> <use href="./assets/images/footer/socials.svg#tg"></use></svg></a>
      </li>
      <li class="list-item grid__item socials-item">
        <a class="socials-link" href="https://www.instagram.com/?hl=ru" rel="noopener noreferrer nofollow" target="_blank" aria-label="Инстаграмм"><svg> <use href="./assets/images/footer/socials.svg#insta"></use></svg></a>
      </li>
      <li class="list-item grid__item socials-item">
        <a class="socials-link" href="https://uk-ua.facebook.com/" rel="noopener noreferrer nofollow" target="_blank" aria-label="Фейсбук"><svg> <use href="./assets/images/footer/socials.svg#fb"></use></svg></a>
      </li>
      <li class="list-item grid__item socials-item">
        <a class="socials-link" href="https://www.youtube.com/" rel="noopener noreferrer nofollow" target="_blank" aria-label="Ютуб"><svg> <use href="./assets/images/footer/socials.svg#ytube"></use></svg></a>
      </li>
    </ul>
    <ul class="list pays">
      <li class="item pays-item"><img class="card-visa" src="./assets/images/footer/visa.svg" alt="Виза" /></li>
      <li class="item pays-item"><img class="card-master" src="./assets/images/footer/mastercard.svg" alt="Мастер Кард" /></li>
    </ul>
    <button class="terms-list__link link" type="button" data-terms="responsibility">
      Публічний договір
    </button>
  </div>
</footer>
