{% set hero = hero %} {% set mainHero = hero.main %}

<section class="hero">
    <div class="hero__wrapper " >
        <picture class="hero__image-wrapper">
            <source
            srcset="./assets/images/main/hero/boy_lg.png"
            media="(min-width: 1280px)"
            type="image/png"
          />
            <img class="hero__image" src="./assets/images/main/hero/boy_sm1.png" alt="Фото хлопчика"
            width="320" height="511">
        </picture>
    <div class="container">
        <div class="hero__text-wrapper">
            <p class="text-label hero__label">{{mainHero.text_label}}</p>
            <h1 class="hero__title">{{mainHero.title}}</h1>
            <p class="hero__text ">{{mainHero.description}}</p>
        </div>
        <button type="button" class="main-btn" data-modal-open>Підібрати план навчання</button>
    </div>
    </div>
    {% include 'components/branches.html' %}
</section>