<section class="section students-reviews">
  <div class="container">
  <h2 class="section__title">Відгуки учнів про нас&#95;</h2>
  </div>
  <div class="review-slider-js review-list">
    <div class="review-list__item">
      <div class="review-list__wrap">
        <picture >
          <!-- <source srcset="./images/main/testimonials/makar.webp" media="(min-width: 320px)" /> -->
          <img
            class="review-list__img"
            src="./assets/images/main/testimonials/makar.png"
            alt="Cтудент"
            width="62"
            height="62"
          />
        </picture>
        <p class="review-list__description">
          Основна моя сфера, яку я вивчаю протягом навчального року Front-end!
          Завдяки зрозумілому та сучасному методу викладання школи GoITeens,
          зокрема і мого викладача Родіона Романова, мені вдалося зайняти
          найкраще місце на марафоні з програмування. Круто навчатися в школі
          GoITeens: цікаве, сучасне викладання та легке сприйняття матеріалу.»
        </p>
        <p class="review-list__title">Макар Луцький</p>
        <p class="review-list__course">16 років</p>
      </div>
    </div>
    <div class="review-list__item">
      <div class="review-list__wrap">
        <picture >
          <!-- <source srcset="./assets/images/main/testimonials/makar.webp" media="(min-width: 320px)" /> -->
          <img
            class="review-list__img"
            src="./assets/images/main/testimonials/makar.png"
            alt="Cтудент"
            width="62"
            height="62"
          />
        </picture>
        <p class="review-list__description">
          Основна моя сфера, яку я вивчаю протягом навчального року Front-end!
          Завдяки зрозумілому та сучасному методу викладання школи GoITeens,
          зокрема і мого викладача Родіона Романова, мені вдалося зайняти
          найкраще місце на марафоні з програмування. Круто навчатися в школі
          GoITeens: цікаве, сучасне викладання та легке сприйняття матеріалу.»
        </p>
        <p class="review-list__title">Макар Луцький</p>
        <p class="review-list__course">16 років</p>
      </div>
    </div>
    <div class="review-list__item">
      <div class="review-list__wrap">
        <picture >
          <!-- <source srcset="./assets/images/main/testimonials/makar.webp" media="(min-width: 320px)" /> -->
          <img
            class="review-list__img"
            src="./assets/images/main/testimonials/makar.png"
            alt="Cтудент"
            width="62"
            height="62"
          />
        </picture>
        <p class="review-list__description">
          Основна моя сфера, яку я вивчаю протягом навчального року Front-end!
          Завдяки зрозумілому та сучасному методу викладання школи GoITeens,
          зокрема і мого викладача Родіона Романова, мені вдалося зайняти
          найкраще місце на марафоні з програмування. Круто навчатися в школі
          GoITeens: цікаве, сучасне викладання та легке сприйняття матеріалу.»
        </p>
        <p class="review-list__title">Макар Луцький</p>
        <p class="review-list__course">16 років</p>
      </div>
    </div>
    <div class="review-list__item">
      <div class="review-list__wrap">
        <picture >
          <!-- <source srcset="./assets/images/main/testimonials/makar.webp" media="(min-width: 320px)" /> -->
          <img
            class="review-list__img"
            src="./assets/images/main/testimonials/makar.png"
            alt="Cтудент"
            width="62"
            height="62"
          />
        </picture>
        <p class="review-list__description">
          Основна моя сфера, яку я вивчаю протягом навчального року Front-end!
          Завдяки зрозумілому та сучасному методу викладання школи GoITeens,
          зокрема і мого викладача Родіона Романова, мені вдалося зайняти
          найкраще місце на марафоні з програмування. Круто навчатися в школі
          GoITeens: цікаве, сучасне викладання та легке сприйняття матеріалу.»
        </p>
        <p class="review-list__title">Макар Луцький</p>
        <p class="review-list__course">16 років</p>
      </div>
    </div>
    <div class="review-list__item">
      <div class="review-list__wrap">
        <picture >
          <!-- <source srcset="./images/main/testimonials/makar.webp" media="(min-width: 320px)" /> -->
          <img
            class="review-list__img"
            src="./assets/images/main/testimonials/makar.png"
            alt="Cтудент"
            width="62"
            height="62"
          />
        </picture>
        <p class="review-list__description">
          Основна моя сфера, яку я вивчаю протягом навчального року Front-end!
          Завдяки зрозумілому та сучасному методу викладання школи GoITeens,
          зокрема і мого викладача Родіона Романова, мені вдалося зайняти
          найкраще місце на марафоні з програмування. Круто навчатися в школі
          GoITeens: цікаве, сучасне викладання та легке сприйняття матеріалу.»


        </p>
        <p class="review-list__title">Макар Луцький</p>
        <p class="review-list__course">16 років</p>
      </div>
    </div>




  </div>
  <div class="review-btn-cont">
    <button
      class="review-prev-btn prev-but-js"
      type="button"
      aria-label="Попередній слайд"
    ></button>
    <button
      class="review-next-btn next-but-js"
      type="button"
      aria-label="Наступний слайд"
    ></button>
  </div>
</section>
