.parents-reviews {
  &__title {
    margin-bottom: 32px;
    @include mq(desktop) {
      margin-bottom: 52px;
    }
  }

  &__list {
    --dots-color: var(--primary-accent-cl);
    text-align: center;

    @include mq(tablet-only) {
      width: 648px;
      margin: 0 auto;
    }
  }

  &__item {
    margin-bottom: 25px;
    padding-top: 45px;
    color: var(--secondary-accent-cl);
  }

  &__wrap {
    position: relative;
    padding-top: 77px;
    padding-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--primary-accent-cl);

    @include mq(tablet) {
      padding-top: 125px;
      padding-bottom: 65px;
      border-radius: 12px;
      background-image: url('../images/components/students-reviews/bg-1.png'),
        url('../images/components/students-reviews/bg-2.png');
      background-repeat: no-repeat;
      background-position: left -20px bottom 0, left 0 bottom 0;
    }
    @include mq(desktop) {
      margin-left: auto;
      margin-right: auto;
      padding-top: 125px;
      padding-bottom: 65px;
      border-radius: var(--border-radius);
      width: 370px;
    }

    &::before {
      position: absolute;
      left: 20%;
      top: 30px;
      content: '';
      display: inline-block;
      width: 52px;
      height: 52px;
      background-image: url('../images/testimonials/parent-reviews/violet-comma.svg');
      background-repeat: no-repeat;

      @include mq(tablet) {
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid var(--white-bg);
    object-fit: cover;
  }

  &__description {
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    height: 125px;
    max-width: 280px;

    @include mq(tablet) {
      margin-bottom: 24px;
    }
  }
  &__btn-wrap {
    position: relative;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
  }

  &__prev-btn {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before {
      @include mq(tablet) {
        content: '';
        position: absolute;
        display: inline-block;
        left: -220px;
        top: -20px;
        width: 62px;
        height: 12px;
        background-image: url('../images/components/students-reviews/arrow-left.svg');
        background-repeat: no-repeat;
      }
      @include mq(desktop) {
        left: -225px;
      }
    }
  }

  &__next-btn {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before {
      @include mq(tablet) {
        content: '';
        position: absolute;
        display: inline-block;
        right: -220px;
        top: -20px;
        width: 62px;
        height: 12px;
        background-image: url('../images/components/students-reviews/arrow-right.svg');
        background-repeat: no-repeat;
      }
      @include mq(desktop) {
        right: -225px;
      }
    }
  }

  & .slick-slide:nth-child(2n) {
    & .parents-reviews__wrap {
      background-color: var(--secondary-accent-cl);
      color: var(--white-text-cl);

      &::before {
        background-image: url('../images/components/students-reviews/comma.svg');
      }
    }
  }

  .slick-dots {
    bottom: -45px;
  }

  .slick-slide {
    @include mq(notDesktop) {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
