.testimonials-projects {
  padding-top: 60px;
  @include mq(tablet) {
    padding-top: 68px;
  }
  @include mq(desktop) {
    padding-top: 132px;
  }
  .projects__btn {
    display: none;
  }

  .slick-dotted.slick-slider {
    @include mq(desktop) {
      margin-bottom: 86px;
    }
  }
}
