.winners-project {
 background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;

  background-image: url('../images/components/bg-white-bottom.svg'),
    linear-gradient(
      to bottom,
      var(--white-bg) 0,
      var(--white-bg) 22%,
      var(--yellow-bg) 22%,
      var(--yellow-bg) 
    );
 
  @include mq(tablet) {
    background-image: url('../images/components/bg-white-bottom.svg'),
      linear-gradient(
        to bottom,
        var(--white-bg) 0,
        var(--white-bg) 29%,
        var(--yellow-bg) 29%,
        var(--yellow-bg) 
      );
  }
  @include mq(desktop) {
    background-image: url('../images/components/bg-white-bottom.svg'),
      linear-gradient(
        to bottom,
        var(--white-bg) 0,
        var(--white-bg) 44%,
        var(--yellow-bg) 44%,
        var(--yellow-bg) 
      );
  }

  .grid {
    --grid-item: 2;
    @include mq(tablet) {
      align-items: center;
    }
  }

  .section__title {
    margin-bottom: 24px;
   
  }
  .text-label,
  .text-bold {
    margin-bottom: 16px;
  }

  .text-label{
      max-width: 500px;
  }
  .text-bold {
    color: inherit;
    max-width: 300px;
  }

  &__video {
    display: block;
    width: 100%;
    height: 300px;
    border: 0px;

    @include mq(desktop) {
      width: 570px;
      height: 360px;
    }
  }
}
