.projects {
  &__list {
    margin-bottom: 24px;
  }

  &__list-img-wrapper {
    position: relative;
    z-index: 0;
    background-color: #fecd4d;
    background-clip: content-box;
    margin-bottom: 22px;

    &_border-theme-1 {
      border-left: 4px solid #fecd4d;
      border-bottom: 20px solid #fecd4d;
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      padding-top: 20px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: '';
        width: 28%;
        height: 22px;
        background-color: #fecd4d;
        transform: translate(-4px, 0);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }

      &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        content: '';
        width: 4px;
        height: 90%;
        background-color: #fecd4d;
        transform: translate(4px, 20px);
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
      }
    }

    &_border-theme-2 {
      border-right: 4px solid #fecd4d;
      border-top: 20px solid #fecd4d;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      padding-bottom: 20px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: '';
        width: 4px;
        height: 90%;
        background-color: #fecd4d;
        transform: translate(-4px, -20px);
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }

      &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        content: '';
        width: 28%;
        height: 22px;
        background-color: #fecd4d;
        transform: translate(4px, 0);
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
    }
  }

  &__list-img {
    max-width: unset;
    width: 100%;
  }

  &__list-title {
    @include font(18px, 700);
    margin-bottom: 20px;
  }

  &__list-description {
    @include font(16px, 400);
  }
}

@include mq('tablet', max) {
  .projects {
    &__list-item {
      &:not(:last-child) {
        margin-bottom: 28px;
      }
    }
  }
}

@include mq('tablet') {
  .projects {
    &__list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 52px;
    }

    &__list-item {
      width: 30%;
    }
  }
}

@include mq('desktop') {
  .projects {
    &__list {
      margin-bottom: 64px;
    }

    &__list-item {
      width: 32%;
    }

    &__list-img-wrapper {
      margin-bottom: 40px;

      &_border-theme-1 {
        border-left: 28px solid #fecd4d;
        border-bottom: 28px solid #fecd4d;
        padding-top: 28px;
        padding-right: 28px;

        &::before {
          width: 28%;
          height: 28px;
          transform: translate(-28px, 0);
        }

        &::after {
          width: 28px;
          height: 90%;
          transform: translate(0, 28px);
        }
      }

      &_border-theme-2 {
        border-right: 28px solid #fecd4d;
        border-top: 28px solid #fecd4d;
        padding-bottom: 28px;
        padding-left: 28px;

        &::before {
          width: 28px;
          height: 90%;
          transform: translate(0, -28px);
        }

        &::after {
          width: 28%;
          height: 28px;
          transform: translate(28px, 0);
        }
      }
    }

    &__list-title {
      font-size: 21px;
    }

    &__list-description {
      font-size: 18px;
    }
  }
}
