.footer {
  padding: 22px 0;
  color: var(--white-text-cl);
  background-color: var(--footer-bg);

  &__logo {
    display: block;
    width: 140px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.34);
  }

  .menus-item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .socials {
    // display: flex;
    // align-items: center;
    // flex-wrap: nowrap;

    --grid-item: 4;

    &-item {

        svg {
            width: 34px;
            height: 34px;
        }
    }


  }
}
