.footer.transparent {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  background-color: transparent;
  padding-top: 0;

  @include mq(desktop) {
    padding-bottom: 50px;
  }

  .wrapper__logo {
    margin-bottom: 20px;

    @include mq(tablet) {
      margin-bottom: 0;
    }
  }
}
