.contacts-awards {
  padding-bottom: 0;
  @include mq(tablet){
    padding-bottom: 0; 
  }
  @include mq(desktop){
    padding-bottom: 0;
  }

  .awards__wrapper {
    @include mq(mobile-only) {
      padding-top: 30px;
      padding-bottom: 60px;

      background-color: var(--yellow-bg);
    }
  }
}
