.contacts {
  position: relative;

  &__wrapper {
    @include mq(tablet) {
      background-repeat: no-repeat;
      background-size: auto;
      background-position: top 44% right;
      background-image: url('../images/contacts/contacts/bg-students_lg.png');

      @include mq(retina) {
        background-size: 358px;
        background-image: url('../images/contacts/contacts/bg-students_lg@2x.png');
      }
    }

    @include mq(desktop) {
      padding-right: 284px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 375px;
    height: 352px;

    background-image: url('../images/components/triangle-gray.svg');
    background-repeat: no-repeat;

    z-index: -1;
    @include mq(tablet) {
      left: -20%;
      top: 90%;
    }
    @include mq(desktop) {
      left: -13%;
    }
  }
  &__title {
    margin-bottom: 24px;
  }

  &__content {
    flex-direction: column;
    margin-bottom: 30px;

    @include mq(tablet-only) {
      padding-right: 344px;
      margin-bottom: 60px;
    }

    @include mq(desktop) {
      --grid-item: 3;
      margin-bottom: 70px;
      flex-direction: row;
    }
  }

  &__item-title {
    margin-bottom: 14px;
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;
    text-align: start;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__call-us {
    margin-bottom: 20px;

    p {
      @include mq(tablet-only) {
        width: calc(100% / 2);
      }
    }

    span {
      color: var(--secondary-accent-cl);
    }
  }

  &__btn-wrapper {
    --grid-item: 2;
    @include mq(desktop) {
      max-width: 675px;
    }
  }
  .social {
    &__list {
      margin-left: 0;
      justify-content: flex-start;
    }
    &__svg {
      fill: var(--grey-bg);
      &:hover,
      &:focus {
        fill: var(--secondary-accent-cl);
      }
    }
  }
}
