<ul class="list features__list features-{{item.id}}">
  <li class="features__item">
    <p class="features__title">Online</p>
    <svg class="features__icon" width="270" height="3">
      <use href="./assets/images/sprite.svg#pr-online"></use>
    </svg>
  </li>
  <li class="features__item">
    <p class="features__title">Вік</p>
    <svg class="features__icon" width="270" height="10">
      <use href="./assets/images/sprite.svg#{{item.age_svg}}"></use>
    </svg>
    <div class="features__age">
      <span class="features__age-from">{{item.age_from}}</span>
      <span class="features__age-to">{{item.age_to}}</span>
    </div>
  </li>
  <li class="features__item">
    <p class="features__title">Рівень складності</p>
    <svg class="features__icon" width="270" height="10">
      <use href="./assets/images/sprite.svg#{{item.level_svg}}"></use>
    </svg>
    <span class="features__level">{{item.level}}</span>
  </li>
</ul>
