{% set projects = projects %} {% set projectsItems = projects.items %}

<div class="projects">
  <h2 class="section__title projects__title">{{projects.title}}</h2>

  <p class="text-label projects__description">{{projects.description}}</p>

  <div class="projects-slider-js projects__list">
    {% for item in projectsItems %}
    <div class="projects__item">
      <picture>
        <source
          srcset="
            ./assets/images/components/projects/project-{{item.id}}_lg.webp    1x,
            ./assets/images/components/projects/project-{{item.id}}_lg@2x.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./assets/images/components/projects/project-{{item.id}}_lg.jpg    1x,
            ./assets/images/components/projects/project-{{item.id}}_lg@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./assets/images/components/projects/project-{{item.id}}_md.webp    1x,
            ./assets/images/components/projects/project-{{item.id}}_md@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./assets/images/components/projects/project-{{item.id}}_md.jpg    1x,
            ./assets/images/components/projects/project-{{item.id}}_md@2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./assets/images/components/projects/project-{{item.id}}_sm.webp    1x,
            ./assets/images/components/projects/project-{{item.id}}_sm@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="./assets/images/components/projects/project-{{item.id}}_sm@2x.jpg"
          media="(max-width: 767px)"
          type="image/jpeg"
        />

        <img
          class="projects__item-image"
          src="./assets/images/components/projects/project-{{item.id}}_sm.jpg"
          alt="фото проєкту {{item.title}}"
          width="280"
          height="200"
          loading="lazy"
        />
      </picture>
      <div class="projects__item-wrapper">
        <h3 class="text-label projects__item-title">{{item.title}}</h3>
        {% if item.students %}
        <p class="text-label projects__item-label">{{item.students.title}}</p>
        <ul class="list projects__item-list">
          {% for item in item.students.items %}
          <li class="projects__item-students">{{item.name}} &#40;&nbsp;{{item.age}}&nbsp;&#41;</li>
          {% endfor %}
        </ul>
        {% else %}

        <p class="projects__item-description">{{item.description}}</p>

        {% endif %}

        <a
          class="projects__link"
          target="_blank"
          href="{{item.link}}"
          rel="noreferrer noopener nofollow"
          >Переглянути</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
  <a
    class="main-btn projects__btn"
    href="./testimonials.html"
    target="_blank"
    rel="noreferrer noopener nofollow"
    >Більше про результати наших учнів</a
  >
</div>
