.contacts {
  padding-top: 58px;
  padding-bottom: 34px;

  &__left-side {
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 34px;
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__list-link {
    display: block;
    @include font(24px, 400);
    color: #000;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .ref-to-page {
    margin-bottom: 14px;
  }
}

@include mq('tablet') {
  .contacts {
    .container {
      display: flex;
      flex-wrap: wrap;
    }

    &__left-side,
    &__right-side {
      width: 50%;
      flex-shrink: 0;
      margin-bottom: 0;
    }
  }
}

@include mq('desktop') {
  .contacts {
    padding-bottom: 52px;
    &__left-side,
    &__right-side {
      width: max-content;
    }

    &__right-side {
      flex-grow: 1;
      padding-left: 98px;
    }

    &__list {
      margin-bottom: 24px;
    }

    &__list-item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
