.winners-project {
  padding-top: 32px;
  padding-bottom: 36px;

  &__title {
    margin-bottom: 14px;
  }

  &__description {
    @include font(24px, 400, 1.2);
    color: #282828;
    margin-bottom: 24px;
  }

  &__video {
    display: block;
    width: 100%;
    height: 200px;
    margin-bottom: 56px;
  }

  &__content-wrapper {
    margin-bottom: 70px;
  }

  &__content-title {
    @include font(24px, 700, 1.2);
    color: #282828;
    margin-bottom: 36px;
  }

  &__content-text {
    @include font(24px, 400, 1.2);
    color: #282828;
  }
}

@include mq('tablet') {
  .winners-project {
    &__description {
      max-width: 540px;
      font-size: 21px;
    }

    &__video {
      width: 466px;
      height: 284px;
      flex-shrink: 0;
      margin-bottom: 0;
    }

    &__content-wrapper {
      display: flex;
    }

    &__content-text-wrapper {
      padding-left: 20px;
    }
  }
}

@include mq('desktop') {
  .winners-project {
    padding-top: 76px;
    padding-bottom: 56px;

    &__description {
      margin-bottom: 88px;
    }

    &__content-wrapper {
      margin-bottom: 100px;
    }

    &__content-text-wrapper {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 100px;
    }
  }
}
